@import "../../../../../../libs/base/src/lib/global-scss/variables";

$primary-color: rgb(224, 176, 72);
$secondary-color: rgb(22, 161, 253);
$white-50: rgba(255,255,255, .5);

.navbar{
  padding: 0;
  .navbar-header{
    padding: 0 20px;
    display: flex;
    width: 100%;
    background: $secondary-color;

    .logo{
      width: auto;
      padding:20px 0;
      flex-grow: 1;
      img{
        width: 60%;
        transition: all .3s;
      }
    }

    .navbar-toggler{
      outline: none;
      border: 0;
    }

    .fa-bars{
      color:white;
    }
  }

  .navbar-collapse{
    padding: 30px;
    background: rgba( $secondary-color, 1 );
  }

  .nav-item.active .nav-link{
    color:darken($primary-color, 40%);
    transition: all .4s;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      opacity: 1;
      height: 3px;
      background: $primary-color;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%)
  }

  &:hover:after {
      width: 100%;
      opacity: 1;
  }
  }

  .nav-link{
    white-space: nowrap;
    color:white;
    transition: all .4s;
    position: relative;


    &:hover{
      color: $primary-color;
    }

    &:after{
      content: "";
      position: absolute;
      width: 0;
      opacity: 0;
      height: 3px;
      background: $primary-color;
      bottom: 0;
      transition: all .4s ease;
      left: 0;
    }
    &:hover:after {
      width: 100%;
      opacity: 1;
  }
  }

}

@keyframes fade
{
  0%   {opacity:0;}
  100% { opacity: 1;}
}

.navbar-collapse.show{
  animation:fade 1s;
  -webkit-animation:fade 1s;
}

@media (min-width: 576px) and (min-width: 768px) {
  .navbar{
    background: transparent;
    padding-right: 20px;

    .nav-link{
      font-size: 0.7rem;
    }

    .nav-item.active{
      // background-color:darken($primary-color, 5%);
      position: relative;
      transition: all .4s;

      .nav-link{
        color: white;
      }

    }


    .navbar-header{
      background: transparent;
      padding-right: 0;
      .logo{
        width: auto;
        padding:20px 0;
        flex-grow: 1;
        img{
          width: 200px;
        }
      }
    }

    .navbar-collapse{
      background: transparent;
      padding: 0;
    }
  }



 }

 @media (min-width: 992px){
  .navbar{
    padding: 0 40px;
    .nav-link{
      font-size: 0.7rem;
      padding-right: 1.0rem!important;
      padding-left: 1.0rem!important;
    }

    .navbar-header{
    padding: 0;
    display: flex;
    width: auto;

    .logo{
      width: auto;
      flex-grow: 1;
      img{
        width: 250px;
      }
    }
  }

  .nav-item.active .nav-link{
    transition: all .4s;

    &:after {
      content: "";
      position: absolute;
      width: 75%;
      opacity: 1;
      height: 3px;
      background: $primary-color;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%)
  }

  &:hover:after {
      width: 100%;
      opacity: 1;
  }
  }

  }

 }

 @media (min-width: 1200px) {
   .navbar{
     .nav-link{
    font-size: 1.2rem;
   }
   .logo{
    width: auto;
    flex-grow: 1;
    img{
      width: 350px;
    }
  }
   }
 }

 .top-bar{
   background:rgba(10, 31, 64, 1);
   transition: all .4s;
   padding: 7px;


   input{
    width:200px;
    border-radius: 20px;
    background: #293c54;
    border: 1px solid transparent;
    margin: 0 20px;
    padding: 0 40px 0 20px;
    transition: all .4s;


    &:focus{
      border: 1px solid rgba(255, 255, 255, .1);
      background: #253b5e;
      box-shadow: none;
      outline:none;
      color: white;
    }
   }

   .login-link a{
     text-decoration: none;
     font-weight: normal;
     padding: 0 30px 0 10px;
   }

   .seachbox{
     position: relative;

     i{
       color: white;
       padding: 0 20px;
     }
   }

   .social-media-icons{
     padding: 0 10px;
     i{
       color:white;
       width: 20px;
       text-align: center;
       padding: 2px;
       transition:all .4s;
     }
   }

   .fa-facebook:hover{
      color:rgb(0, 112, 216);
  }
  .fa-twitter:hover{
    color:rgb(80, 157, 230);
}
.fa-youtube-play:hover{
  color:rgb(221, 49, 19);
}
 }


 .sp-header{
   transition: all .4s;
 }

 .sp-header.scrolling {
  background:rgba($secondary-color, 1);

  .top-bar{
    padding: 3px 7px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }


}


