

<header class=" sp-header" [class.scrolling]="isScrolling">

  <nav id="navbarsDefault" class="navbar navbar-expand-md">
    <div class="navbar-header">
<!--      <a class="navbar-brand" href="#">-->
<!--        <div class="logo"><img src="assets/images/satipasala-logo.png" alt="Sati Pasala">-->
<!--        </div>-->
<!--      </a>-->
      <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed "
        data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false"
        aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngFor="let menu of mainNav" (click)="onMenuItemClicked(menu)"
          [class.active]="selectedMenuItem === menu.headingName" >
          <a class="nav-link" id="id01" [href]="menu.routerLink" >
            {{menu.headingName}}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>






<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo"><img src="../../../../../assets/images/satipasala-logo.png" alt="Sati Pasala">
    </div>
    <div class="topnav" id="myTopnav" #tttteeee>
      <a href="#" *ngFor="let menu of mainNav" (click)="onMenuItemClicked(menu)"
        [class.active]="selectedMenuItem === menu.headingName">
        {{menu.headingName}}</a>
      <a href="javascript:void(0);" class="icon"
        onClick="document.getElementById('myTopnav').className = document.getElementById('myTopnav').className === 'topnav' ? 'topnav responsive' : 'topnav'">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="search">
      <i class="fa fa-search"></i>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->




<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" hideToggle="true">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Responsive Navigation</span>
    <span class="menu-spacer"></span>
    <div hideToggle="true">
      <a href="#" mat-button *ngFor=" let menu of mainNav"> {{menu.headingName}}</a>
    </div>
    <web-notification></web-notification>
    <web-search></web-search>
    <web-user-profile></web-user-profile>
  </mat-toolbar-row>
</mat-toolbar> -->
