.cloud-wrapper {
  position: relative;

  .cloud {
    position: absolute;
    top: 24px;
    z-index: 1;
    right: 8px;
  }

  &:after {
    content: "";
    background: url("../../../assets/cloud-01.svg") no-repeat;
    position: absolute;
    width: 270px;
    height: 138px;
    z-index: 0;
    top: -2px;
    right: -50px;
  }
}


.header-icon {
   a {
    color: var(--dar_gary);
     font-size: 22px;
     padding: 10px 15px;
     &:hover{
       color: var(--menuBG);
     }
  }
}

