<div class="container-fluid cloud-wrapper" >
  <div class="row cloud header-icon ">
    <div><a><i class="fa fa-envelope"></i></a></div>
    <div><a (click)="openLogin()"><i class="fa fa-unlock"></i></a></div>
    <div><a (click)="openDialog()"><i class="fa fa-search"></i></a></div>
<!-- -->
<!--    <div class="text-white login-link"><a href="">Login</a></div>-->
  </div>
</div>
