<Page loaded="pageLoaded" id="story-page" class="page meditation-story"
    xmlns="http://www.nativescript.org/tns.xsd" actionBarHidden="true"
    navigatedTo="onNavigatedTo">
    <AbsoluteLayout width="100%" height="100%">
        <!-- background image -->
        <Image src="~/assets/login-bg.png" width="100%" height="100%"
            stretch="aspectFill"></Image>

        <!-- leaf & moon image -->
        <DockLayout width="100%" height="100%" stretchLastChild="false">
            <Image src="~/assets/leaf.png" id="leaf" stretch="aspectFit"
                dock="bottom"></Image>
            <Image src="~/assets/moon.png" id="moon" stretch="aspectFit"
                dock="top"></Image>
        </DockLayout>

        <!-- stars -->
        <Label text="" class="star one"></Label>
        <Label text="" class="star two"></Label>
        <Label text="" class="star three"></Label>
        <Label text="" class="star four"></Label>
        <Label text="" class="star five"></Label>

        <!-- clouds -->
        <Image class="animate-cloud" src="~/assets/home-banner-clouds.png" width="100%" height="40%" ></Image>


        <!-- main content -->
        <FlexboxLayout height="100%" width="100%" flexDirection="column"
            justifyContent="center" alignItems="center" class="padding-lr">
            <Label text="{{course.name}}" class="h4 text-green head"
                marginBottom="10"></Label>
            <Label textWrap="true" textAlignment="center"
                class="h1 text-white"
                text="{{course.description}}"></Label>
        </FlexboxLayout>

        <!-- top navigation & bottom text + slider dots -->
        <AbsoluteLayout width="100%" height="100%">
            <DockLayout width="100%" height="100%" stretchLastChild="false">
                <FlexboxLayout width="100%" flexDirection="row" dock="top"
                    justifyContent="space-between"
                    style="margin: 20 0; padding: 0 20" alignItems="center">
                    <Label (tap)="return()" text="&#xe906;"
                        class="ico g"></Label>
                    <Label text="Skip" (tap)="beginCourse()"
                        class="text-green h4"></Label>
                </FlexboxLayout>
                <FlexboxLayout width="100%" flexDirection="column"
                    dock="bottom" justifyContent="center"
                    style="margin: 20 0; padding: 0 20" alignItems="center">
                    <FlexboxLayout flexDirection="row" class="slider-dots"
                        style="margin-bottom:20">
                        <Label text="" class="active"></Label>
                        <Label text="" marginRight="0"></Label>
                    </FlexboxLayout>
                    <Label text="Tap on the screen to continue"
                        class="text-dull h4"></Label>
                </FlexboxLayout>
            </DockLayout>
            <Label id="screen-tap" height="100%" width="100%" text=""
                (tap)="beginCourse()" top="60" ></Label>
        </AbsoluteLayout>

    </AbsoluteLayout>
</Page>
