/* You can add global styles to this file, and also import other style files */
@import './theme.scss';
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
@import url('https://fonts.googleapis.com/css?family=Palanquin|Source+Sans+Pro');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "~font-awesome/css/font-awesome.css";
@import "../../../libs/base/src/lib/global-scss/variables";
@import './fonts/fonts.css';
@import "../../../libs/base/src/lib/global-scss/global-media-queries";
@import "../../../libs/base/src/lib/global-scss/global_class";
@import "../../../libs/base/src/lib/global-scss/mixins";

@font-face {
  font-family: 'sathi_icon';
  src:  url('fonts/sathipasala_sub_icon/sathi_icon.eot?3wpdbn');
  src:  url('fonts/sathipasala_sub_icon/sathi_icon.eot?3wpdbn#iefix') format('embedded-opentype'),
  url('fonts/sathipasala_sub_icon/sathi_icon.ttf?3wpdbn') format('truetype'),
  url('fonts/sathipasala_sub_icon/sathi_icon.woff?3wpdbn') format('woff'),
  url('fonts/sathipasala_sub_icon/sathi_icon.svg?3wpdbn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@import "../../../libs/base/src/lib/global-scss/subicon_font";

///// Content
$body-font: 'Source Sans Pro',
sans-serif;
$heading-font: 'Palanquin',
sans-serif;
body,html {
  font-family: $body-font;
  height: 100%;
  padding: 0;
  margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: $heading-font;
  font-weight: 300 !important;
}

a {
  color: #1c90f3;
  font-weight: bold;
  &:hover {
    color: darken(#1c90f3, 10%)
  }
}

#wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: rgba(0,0,0,.05);
}

.content {
  // min-height: 70vh;
  // padding: 2vw;
  // flex: 1
}


.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.logo {
  font-size: 1.2em;
  font-weight: bold;
  font-family: $heading-font;
  color: #1D262F;
  img {
    margin-right: 5px;
  }
}

.footer {
  min-height: 100px;
  text-align: center;
  font-size: 0.9em;
  background: #f9f9f9;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box {
  border-radius: 0px;
  margin-top: 5px;
}

.flex-center-both{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-form-field-flex{
  border-bottom:1px solid rgb(255, 255, 255);
}

.width-100 {
  width: 100%!important;;
}

.height-100{
  height:100%!important;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.remove_padding{
  .mat-expansion-panel-body{
    padding: 0 0 15px;
  }

  .ng-star-inserted{

    &:nth-child(odd){
      //border-top: 1px solid var(--lightGray);
    }
  }
}

.green-snackBar {
  background: #311b92;
}

.red-snackBar {
  background: #d81b60;
}

.mat-simple-snackbar-action button{
  color: white;
}


.mat-flat-button.mat-accent, .mat-flat-button.mat-primary {
  @include border-radiusk(2px);
}


.mat-tab-body-wrapper{
  flex-grow: 1;
}
body, html{
  height: 100%;
  margin: 0;
}


.role{
  float: right;
  padding: 6px;
  max-width: 125px;
  margin: 6px 10px 6px 6px;
  text-overflow: clip;
  white-space: nowrap;
}
