<h1 mat-dialog-title>Reset Password Confirmation</h1>
<p mat-line>Please confirm password reset</p>
<mat-dialog-content class="ref-dialog">
</mat-dialog-content>
<div mat-dialog-actions>

  <button mat-flat-button color="primary" (click)="confirmPasswordReset()" cdkFocusInitial>Ok</button>
  <button mat-flat-button color="accent" (click)="onNoClick()">Cancel</button>
</div>

