<AbsoluteLayout col="{{index}}" class="routine-banner" (tap)="onSelect()">
  <Image *ngIf="imageVersion==0"
         width="100%"
         height="100%"
         src="~/assets/evening-routine.png"
         stretch="aspectFill"
  ></Image>
  <Label *ngIf="imageVersion==0" class="h4 text-yellow" text="{{course.name}}" textWrap="true"></Label>

  <Image *ngIf="imageVersion==1" width="100%"
         height="100%"
         src="~/assets/morning-routine.png"
         stretch="aspectFill"
  ></Image>
  <Label *ngIf="imageVersion==1" class="h4 text-yellow" text="{{course.name}}" textWrap="true"></Label>

  <Image *ngIf="imageVersion==2"
         width="100%"
         height="100%"
         src="~/assets/morning-routine1.png"
         stretch="aspectFill"
  ></Image>
  <Label *ngIf="imageVersion==2" class="h4 text-green" text="{{course.name}}" textWrap="true"></Label>

</AbsoluteLayout>


