

.background-wrap {
  position: relative;
  width: 100%;
  z-index: 0;
  top: 120px;
  left: 90px;
  .cloud {
    -webkit-mask-image: url(../../../../assets/ck.svg);
    mask-image: url(../../../../assets/ck.svg);
    height: 120px;
    position: absolute;
    width: 200px;
    background: var(--white);
  }
  .cloud-wrapper-2{
    .cloud{
      background: #b0e3f7;
      height: 190px;
      width: 300px;
    }
  }
}


@-webkit-keyframes animateCloud {
  0% {
    margin-left: 0;
    transform: scale(0.9);
  }

  40%{
    margin-left: 1%;
    transform: scale(0.5);
  }
  70%{
    margin-left: 300px;
    transform: scale(0.8);
  }
  100% {
    margin-left: 0;
    transform: scale(0.9);
  }
}
@-moz-keyframes animateCloud {
  0% {
    margin-left: 0;
    transform: scale(0.9);
  }

  40%{
    margin-left: 1%;
    transform: scale(0.5);
  }
  70%{
    margin-left: 300px;
    transform: scale(0.8);
  }
  100% {
    margin-left: 0;
    transform: scale(0.9);
  }
}
@keyframes animateCloud {
  0% {
    margin-left: 0;
    transform: scale(0.9);
  }

  40%{
    margin-left: 1%;
    transform: scale(0.5);
  }
  70%{
    margin-left: 300px;
    transform: scale(0.8);
  }
  100% {
    margin-left: 0;
    transform: scale(0.9);
  }
}


/* ANIMATIONS */

.cloud-wrapper-1 {
  -webkit-animation: animateCloud 600s linear infinite;
  -moz-animation: animateCloud 600s linear infinite;
  animation: animateCloud 600s linear infinite;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  width: 100%;
  position: absolute;
  z-index: 1;
  left: -120px;
  top: 63px;
}

.cloud-wrapper-2 {
  -webkit-animation: animateCloud 200s linear infinite;
  -moz-animation: animateCloud 200s linear infinite;
  animation: animateCloud 200s linear infinite;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  position: absolute;
}

.cloud-wrapper-3 {
  -webkit-animation: animateCloud 100s linear infinite;
  -moz-animation: animateCloud 100s linear infinite;
  animation: animateCloud 100s linear infinite;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
  position: absolute;
  left: 60px;
  top: 33px;
}



