<div class="background-wrap">
  <div class="cloud-wrapper-1">
    <div class="cloud"></div>
  </div>

  <div class="cloud-wrapper-2">
    <div class="cloud"></div>
  </div>

  <div class="cloud-wrapper-3">
    <div class="cloud"></div>
  </div>


</div>
