<div class="container">
  <div class="row d-flex">
    <!--Sidebar -->
    <div class="col-12 col-md-4 col-lg-3">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">Videos</a>
        <a href="#" class="list-group-item list-group-item-action">Audios</a>
        <a href="#" class="list-group-item list-group-item-action">E-Books</a>
        <a href="#" class="list-group-item list-group-item-action">Presentations</a>
        <a href="#" class="list-group-item list-group-item-action">Reports</a>
        <a href="#" class="list-group-item list-group-item-action">Posters</a>
        <a href="#" class="list-group-item list-group-item-action">Guidelines</a>
        <a href="#" class="list-group-item list-group-item-action">Self Assesment</a>
      </div>
    </div>
    <!--/Sidebar -->
    <!--/Content -->
    <div class="col-12 col-md-8 col-lg-9">
      <div class="row">
        <div class="col-12">
          <p class="text-right mt-3 mt-md-0">All Videos | <a href="#">Mindful Games</a> | <a href="#">Mindfull
              Activities</a> | <a href="#">Samanala Sirasa</a></p>

        </div>
      </div>
      <div class="row">
        <web-video-content class="col-md-6 col-lg-4" language='English' title="Mindfull Warlking"
          videoUrl="https://www.youtube.com/embed/avR59QWBl90"
          imageUrl="assets/images/v-mindful-walking.png"></web-video-content>
        <web-video-content class="col-md-6 col-lg-4" language='English'
          title="Sati Pasala Children at the UN Day of Vesak Celebrations"
          imageUrl="assets/images/v-UN-day-wesak.png" videoUrl="https://www.youtube.com/embed/Nb0ek441HBg">
        </web-video-content>
        <web-video-content class="col-md-6 col-lg-4" language='Sinhala, Tamil, English'
          title="Sati Pasala Introductory Videos" imageUrl="assets/images/v-satipasala-story.png"
          videoUrl="https://www.youtube.com/embed/vc4n2piYs8w">
        </web-video-content>
        <web-video-content class="col-md-6 col-lg-4" language='Sinhala, English' title="Mindful Sitting"
          imageUrl="assets/images/v-mindful-sitting.png"
          videoUrl="https://www.youtube.com/embed/sPM-Gyu298w">
        </web-video-content>
        <web-video-content class="col-md-6 col-lg-4" language='Languadge: Sinhala' title="Sati Pasala Guided Video"
          imageUrl="assets/images/v-guided-video.png" videoUrl="https://www.youtube.com/embed/y6d8J_tOlYg">
        </web-video-content>
        <web-video-content class="col-md-6 col-lg-4" language='Sinhala, Tamil, English'
          title="Global Mindfulness Summit 2018" imageUrl="assets/images/v-mindfulness-summit.png"
          videoUrl="https://www.youtube.com/embed/A8JupnP0XA4">
        </web-video-content>
        <web-video-content class="col-md-6 col-lg-4" language='Sinhala, English' title="Mindful Brushing"
          imageUrl="assets/images/v-minful-brushing.png"
          videoUrl="https://www.youtube.com/embed/f9b1Yr5SNyA"></web-video-content>
        <web-video-content class="col-md-6 col-lg-4" language='Languadge: Sinhala' title="Mindful Showering"
          imageUrl="assets/images/v-minful-showering.png"
          videoUrl="https://www.youtube.com/embed/VZhRuBKhGtk"></web-video-content>
        <web-video-content class="col-md-6 col-lg-4" language='Sinhala, Tamil, English' title="Mindful Eating"
          imageUrl="assets/images/v-minful-eating.png" videoUrl="https://www.youtube.com/embed/Q3rQv9aHwqc">
        </web-video-content>
      </div>
    </div>
    <!--/Content -->
  </div>
</div>
<section class="border-top">
  <div class="container">
    <div class="row mt-3">
      <div class="col copyright">
        <p class=""><small class="text-black-50">© 2019. Satipasala Foundation. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</section>
