.resource-thumb{
    margin-bottom: 40px;
    .thumb-image{
        border:1px solid #E4E4F1;
        height: 200px;   
    }

    h4{
        font-weight: 100;
    }
  }

  .sidebar{
    min-width: 150px;
  }