

.slider-wrapper {
  width: 200px;
  overflow: hidden;
  .event-slider {
    max-width: 200px;
    float: left;
  }
}
event-slider{
  animation: ease-in;
  animation-direction: alternate;
}


.owl-wrapper-set{
  width: 100vw;
  overflow: hidden;
  position: relative;
  border: 1px solid var(--white);
  img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

  }

    a{
      &:hover{
        img{
          -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
          filter: grayscale(0);
        }
      }
    }


}
