
<div class="owl-wrapper-set">
<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let slide of imageObject">
    <ng-template carouselSlide >
      <a href="#">
      <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
      </a>
    </ng-template>
  </ng-container>

</owl-carousel-o>
</div>


<!--<div class="container py-5">-->
<!--    <div class="row">-->
<!--        <div class="col-xs-6 col-lg-8">-->
<!--            <p class="text-white">Sati Pasala was established with the aim of sharing mindfulness-->
<!--                with students, teachers and everyone in the school community. All Mindfulness programs are-->
<!--                facilitated by a team of volunteers who are experienced mindfulness practitioners.</p>-->
<!--        </div>-->
<!--        <div class="col-xs-6 col-lg-4 text-xs-left text-lg-center">-->
<!--            <button type="button" class="btn btn-primary btn-lg"><span>Read More</span></button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
