<Page (loaded)="pageLoaded($event)" class="page" backgroundColor="white" xmlns="http://www.nativescript.org/tns.xsd" actionBarHidden="true">
  <GridLayout columns="*" rows="*" [class]=" dashboardOpen ? 'dashboardOpen' : ''">
    <GridLayout columns="*" rows="*,auto">
      <ScrollView id="main_scroll" orientation="vertical" class="" row="0" scrollBarIndicatorVisible="false" >
        <GridLayout col="auto" rows="auto,auto, auto, auto, auto, auto">
          <!-- custom actionbar/menu -->
          <FlexboxLayout row="0" flexDirection="row" class="menu-wrapper padding-lr" alignItems="center" justifyContent="space-between" width="100%">
            <Label (tap)=" pop_msg()" text="&#xe904;" class="ico g" ></Label>
            <AbsoluteLayout width="40" height="40">
              <Image class="avatar" width="40" height="40" src="~/assets/avatar.png" ></Image>
              <Label text="" class="notify" >  </Label>
            </AbsoluteLayout>
          </FlexboxLayout>

          <!-- Activity list -->
          <ScrollView>
            <StackLayout>
              <ListView [items]="activities"style="height:1250px; margin-top: 100px">
                <ng-template let-activity="item">
                    <FlexboxLayout flexDirection="row" (tap)="onSelect(activity)">
                        <Label [text]="activity.name" class="t-12"  verticalAlignment="center" style="width: 60%" style="color: black;">
                        </Label>
                    </FlexboxLayout>
                </ng-template>
            </ListView>
            </StackLayout>
        </ScrollView>
        <!-- End activity list -->

          <StackLayout orientation="vertical" width="100%" row="3" class="padding-lr">
            <Label textWrap="true" text="Play with NativeScript!" class="h2 description-label"></Label>
            <Label textWrap="true" text="Write code in the editor or drag and drop components to build a NativeScript mobile application."
             class="h2 description-label"></Label>
            <Label textWrap="true" text="Scan the QR code with your mobile device and watch the changes sync live while you play with the code."
             class="h2 description-label"></Label>
          </StackLayout>

        </GridLayout>
      </ScrollView>

      <!-- Bottom Naviagtion -->
      <StackLayout orientation="vertical" row="1" class="bottom-outer">
        <FlexboxLayout id="dashboard-wrapper-inside"
                       [class]=" dashboard_wrapper_classes"
                       flexDirection="column">
          <FlexboxLayout class="padding-lr"
                         (tap)="showDashboard()" flexDirection="row"
                         width="100%">
            <Image src="~/assets/ico-dashboard.png" width="42"
                   marginRight="15" stretch="aspectFit" ></Image>
            <StackLayout orientation="vertical" flexGrow="1">
              <Label textWrap="true" text="Dashboard"
                     class="h4 heading" > </Label>
              <Label textWrap="true"
                     [text]="dashboardOpen ? dash_text[0] : dash_text[1]"
                     class="description-label margin-fix" > </Label>
            </StackLayout>
            <Label [text]=" dash_ico" class="ico g" > </Label>
          </FlexboxLayout>
          <StackLayout id="dashboardContent" orientation="vertical"
                       width="100%" class="padding-lr">
            <StackLayout orientation="vertical" width="100%"
                         height="100%">

              <GridLayout rows="*"
                          xmlns:chart="nativescript-ui-chart">
                <chart:RadCartesianChart row="0">
                  <chart:RadCartesianChart.series>
                    <chart:RadCartesianChart.horizontalAxis>
                      <chart:CategoricalAxis
                        lineColor="#d9e0ec"
                        lineThickness="1"
                        labelTextColor="#3e435e"
                        labelMargin="10"
                        android:labelMargin="20" ></chart:CategoricalAxis>
                    </chart:RadCartesianChart.horizontalAxis>
                    <chart:RadCartesianChart.verticalAxis>
                      <chart:LinearAxis
                        lineColor="#e7ecf3"
                        labelFormat="%.0f"
                        lineThickness="2"
                        labelTextColor="#3e435e"
                        labelMargin="10"
                        android:labelMargin="20" ></chart:LinearAxis>
                    </chart:RadCartesianChart.verticalAxis>
                    <chart:BarSeries seriesName="Bar"
                                     [items]=" barSource"
                                     categoryProperty="Day"
                                     valueProperty="Time">
                    </chart:BarSeries>
                    <chart:SplineSeries seriesName="Line"
                                        [items]=" barSource"
                                        categoryProperty="Day"
                                        valueProperty="Time"
                                        paletteMode="Area">
                    </chart:SplineSeries>
                  </chart:RadCartesianChart.series>
                  <chart:RadCartesianChart.palettes>
                    <chart:Palette seriesName="Bar">
                      <chart:Palette.entries>
                        <chart:PaletteEntry
                          fillColor="#3A2CBB"
                          strokeColor="#3A2CBB"
                          strokeWidth="0" ></chart:PaletteEntry>
                      </chart:Palette.entries>
                    </chart:Palette>

                    <chart:Palette seriesName="Scatter">
                      <chart:Palette.entries>
                        <chart:PaletteEntry
                          fillColor="#130d6d"
                          strokeColor="#130d6d"
                          strokeWidth="0" ></chart:PaletteEntry>
                      </chart:Palette.entries>
                    </chart:Palette>

                    <chart:Palette seriesName="Line">
                      <chart:Palette.entries>
                        <chart:PaletteEntry
                          strokeColor="#ef914b"
                          strokeWidth="3"
                          android:strokeWidth="10" ></chart:PaletteEntry>
                      </chart:Palette.entries>
                    </chart:Palette>
                  </chart:RadCartesianChart.palettes>
                </chart:RadCartesianChart>
              </GridLayout>


            </StackLayout>
          </StackLayout>
        </FlexboxLayout>
        <StackLayout class="bottom-nav-wrapper">
          <FlexboxLayout alignItems="center" flexDirection="row"
                         id="bottom-nav">
            <StackLayout flexGrow="1" height="100%">
              <Label (tap)="change()"
                     style="text-align:center;" class="ico g"
                     flexGrow="1" text="&#xe901;" > </Label>
            </StackLayout>
            <StackLayout flexGrow="1" height="100%">
              <Label (tap)="change()"
                     style="text-align:center;"
                     [class]="ico_class" flexGrow="1"
                     text="&#xe900;" > </Label>
            </StackLayout>
            <StackLayout flexGrow="1" height="100%">
              <Label (tap)="change()"
                     style="text-align:center;"
                     [class]="ico_class" flexGrow="1"
                     text="&#xe903;" > </Label>
            </StackLayout>
            <StackLayout flexGrow="1" height="100%">
              <Label (tap)="change()"
                     style="text-align:center;"
                     [class]="ico_class" flexGrow="1"
                     text="&#xe902;" > </Label>
            </StackLayout>
          </FlexboxLayout>
        </StackLayout>
      </StackLayout>
      <AbsoluteLayout id="overlay" height="100%" width="100%">
      </AbsoluteLayout>
    </GridLayout>

  </GridLayout>
</Page>
