@import "../../../../../../../../libs/base/src/lib/global-scss/global_class";
.full-width-table {
  width: 100%;

}


.mat-card-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;

  // Makes `<img>` tags behave like `background-size: cover`. Not supported
  // in IE, but we're using it as a progressive enhancement.
  object-fit: cover;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.roles-grid{
  width: 100%;
  grid-template-columns:  repeat(auto-fill, minmax(500px, 1fr));;
  grid-template-rows: auto;
  overflow: auto;
}


.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 6px;
  font-size: 12px;
  line-height: 0.228571429;
  border-radius: 30px;
  border: 5px solid rgb(231, 235, 236);
  background-color: rgb(204, 211, 209)
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(3, 31, 124);
  color: white;
  text-align: center;
}
