<AbsoluteLayout class="banner" (tap)="onSelect()">
  <!-- background-image -->
  <StackLayout width="100%" class="padding-lr">
    <AbsoluteLayout class="big-img">
      <Image class="big-img" stretch="aspectFill" width="100%" src="~/assets/home-banner-2.png" height="100%"></Image>
      <Image class="animate-cloud" src="~/assets/home-banner-clouds2.png" width="100%" height="40%"></Image>
    </AbsoluteLayout>
  </StackLayout>
  <!-- content -->
  <DockLayout width="100%" height="100%" stretchLastChild="false" class="content-wrapper advance">
    <FlexboxLayout dock="bottom" width="100%" flexDirection="row">
      <StackLayout alignSelf="flex-end" orientation="vertical" width="46%" class="badge">
        <Label text="{{course.name}}" class="h4 text-green"></Label>
          <Label text="8 mins • Course" class="text-white margin-fix"></Label>
      </StackLayout>
      <Image src="~/assets/banner-2-figure_1.png" width="54%" height="96%" class="figure" dock="right"></Image>
    </FlexboxLayout>
  </DockLayout>
</AbsoluteLayout>
