<Page (loaded)="pageLoaded($event)" class="page" backgroundColor="white"
      xmlns="http://www.nativescript.org/tns.xsd" actionBarHidden="true">
  <GridLayout columns="*" rows="*"
              [class]=" dashboardOpen ? 'dashboardOpen' : ''">
    <GridLayout columns="*" rows="*,auto">
      <ScrollView id="main_scroll" orientation="vertical" class=""
                  row="0" scrollBarIndicatorVisible="false" >
        <GridLayout col="auto"
                    rows="auto,auto, auto, auto, auto, auto">
          <!-- custom actionbar/menu -->
          <FlexboxLayout row="0" flexDirection="row"
                         class="menu-wrapper padding-lr" alignItems="center"
                         justifyContent="space-between" width="100%">
            <Label (tap)=" pop_msg" text="&#xe904;"
                   class="ico g" ></Label>
            <AbsoluteLayout width="40" height="40">
              <Image class="avatar" width="40" height="40"
                     src="~/assets/avatar.png" ></Image>
              <Label text="" class="notify" >  </Label>
            </AbsoluteLayout>
          </FlexboxLayout>

          <!-- Heading & banner slider -->
          <StackLayout orientation="vertical" row="1">
            <!-- title -->
            <StackLayout orientation="vertical" class="padding-lr margin-b">
              <Label textWrap="true" text="Courses Assigned To You" class="h2" ></Label>
              <Label textWrap="true" text="Start your journey with the basics" class="description-label margin-fix" > </Label>
            </StackLayout>
            <!-- banner slider -->
            <ns-mandatory-course-list></ns-mandatory-course-list>
            <!-- banner slider END -->
            <FlexboxLayout flexDirection="row" class="slider-dots">
              <Label text="" class="active" id="dot-one" > </Label>
              <Label text="" marginRight="0" id="dot-two" > </Label>
            </FlexboxLayout>

          </StackLayout>

          <ns-optional-course-list></ns-optional-course-list>

          <StackLayout orientation="vertical" width="100%" row="3"
                       class="padding-lr">
            <Label textWrap="true" text="Most Loved Activities"
                   class="h3 heading" > </Label>

            <FlexboxLayout flexDirection="row" width="100%"
                           class="vid-wrapper">
              <Image src="~/assets/vid1.png" width="42"
                     marginRight="15" borderRadius="10"
                     stretch="aspectFit" ></Image>
              <StackLayout orientation="vertical" flexGrow="1">
                <Label textWrap="true"
                       text="Calmness in the storm"
                       class="h5 heading" > </Label>
                <Label textWrap="true" text="72K views"
                       class="description-label margin-fix" > </Label>
              </StackLayout>
              <Label text="&#xe907;" class="ico g" > </Label>
            </FlexboxLayout>

            <FlexboxLayout flexDirection="row" width="100%"
                           class="vid-wrapper">
              <Image src="~/assets/vid2.png" width="42"
                     marginRight="15" borderRadius="10"
                     stretch="aspectFit" ></Image>
              <StackLayout orientation="vertical" flexGrow="1">
                <Label textWrap="true"
                       text="Sit still & prosper"
                       class="h5 heading" > </Label>
                <Label textWrap="true" text="54K views"
                       class="description-label margin-fix" > </Label>
              </StackLayout>
              <Label text="&#xe907;" class="ico g" > </Label>
            </FlexboxLayout>

            <FlexboxLayout flexDirection="row" width="100%"
                           class="vid-wrapper">
              <Image src="~/assets/vid3.png" width="42"
                     marginRight="15" borderRadius="10"
                     stretch="aspectFit" ></Image>
              <StackLayout orientation="vertical" flexGrow="1">
                <Label textWrap="true"
                       text="How to be patient"
                       class="h5 heading" > </Label>
                <Label textWrap="true" text="49K views"
                       class="description-label margin-fix" > </Label>
              </StackLayout>
              <Label text="&#xe907;" class="ico g" > </Label>
            </FlexboxLayout>

            <FlexboxLayout flexDirection="row" width="100%"
                           class="vid-wrapper" borderWidth="0">
              <Image src="~/assets/vid4.png" width="42"
                     marginRight="15" borderRadius="10"
                     stretch="aspectFit" ></Image>
              <StackLayout orientation="vertical" flexGrow="1">
                <Label textWrap="true"
                       text="Mindfulness for rookies"
                       class="h5 heading" > </Label>
                <Label textWrap="true" text="33K views"
                       class="description-label margin-fix" > </Label>
              </StackLayout>
              <Label text="&#xe907;" class="ico g" > </Label>
            </FlexboxLayout>
          </StackLayout>
          <AbsoluteLayout width="100%" row="4"
                          id="cant-decide-wrapper" (tap)="random_course">
            <Image stretch="aspectFill" width="100%" height="100%"
                   src="~/assets/banner-cant-decide.png" ></Image>
            <FlexboxLayout flexDirection="column" width="100%"
                           height="100%" justifyContent="center"
                           alignItems="center">
              <Label textWrap="true" text="Can’t decide?"
                     class="h3 heading text-white" > </Label>
              <Label textWrap="true"
                     text="Play a random sessions"
                     class="description-label margin-fix text-white" > </Label>
              <Label text="&#xe907;" class="ico g" > </Label>
            </FlexboxLayout>
          </AbsoluteLayout>
        </GridLayout>
      </ScrollView>

      <!-- Bottom Naviagtion -->
      <StackLayout orientation="vertical" row="1" class="bottom-outer">
        <FlexboxLayout id="dashboard-wrapper-inside"
                       [class]=" dashboard_wrapper_classes"
                       flexDirection="column">
          <FlexboxLayout class="padding-lr"
                         (tap)="showDashboard" flexDirection="row"
                         width="100%">
            <Image src="~/assets/ico-dashboard.png" width="42"
                   marginRight="15" stretch="aspectFit" ></Image>
            <StackLayout orientation="vertical" flexGrow="1">
              <Label textWrap="true" text="Dashboard"
                     class="h4 heading" > </Label>
              <Label textWrap="true"
                     [text]="dashboardOpen ? dash_text[0] : dash_text[1]"
                     class="description-label margin-fix" > </Label>
            </StackLayout>
            <Label [text]=" dash_ico" class="ico g" > </Label>
          </FlexboxLayout>
          <StackLayout id="dashboardContent" orientation="vertical"
                       width="100%" class="padding-lr">
            <StackLayout orientation="vertical" width="100%"
                         height="100%">

              <GridLayout rows="*"
                          xmlns:chart="nativescript-ui-chart">
                <chart:RadCartesianChart row="0">
                  <chart:RadCartesianChart.series>
                    <chart:RadCartesianChart.horizontalAxis>
                      <chart:CategoricalAxis
                        lineColor="#d9e0ec"
                        lineThickness="1"
                        labelTextColor="#3e435e"
                        labelMargin="10"
                        android:labelMargin="20" ></chart:CategoricalAxis>
                    </chart:RadCartesianChart.horizontalAxis>
                    <chart:RadCartesianChart.verticalAxis>
                      <chart:LinearAxis
                        lineColor="#e7ecf3"
                        labelFormat="%.0f"
                        lineThickness="2"
                        labelTextColor="#3e435e"
                        labelMargin="10"
                        android:labelMargin="20" ></chart:LinearAxis>
                    </chart:RadCartesianChart.verticalAxis>
                    <chart:BarSeries seriesName="Bar"
                                     [items]=" barSource"
                                     categoryProperty="Day"
                                     valueProperty="Time">
                    </chart:BarSeries>
                    <chart:SplineSeries seriesName="Line"
                                        [items]=" barSource"
                                        categoryProperty="Day"
                                        valueProperty="Time"
                                        paletteMode="Area">
                    </chart:SplineSeries>
                  </chart:RadCartesianChart.series>
                  <chart:RadCartesianChart.palettes>
                    <chart:Palette seriesName="Bar">
                      <chart:Palette.entries>
                        <chart:PaletteEntry
                          fillColor="#3A2CBB"
                          strokeColor="#3A2CBB"
                          strokeWidth="0" ></chart:PaletteEntry>
                      </chart:Palette.entries>
                    </chart:Palette>

                    <chart:Palette seriesName="Scatter">
                      <chart:Palette.entries>
                        <chart:PaletteEntry
                          fillColor="#130d6d"
                          strokeColor="#130d6d"
                          strokeWidth="0" ></chart:PaletteEntry>
                      </chart:Palette.entries>
                    </chart:Palette>

                    <chart:Palette seriesName="Line">
                      <chart:Palette.entries>
                        <chart:PaletteEntry
                          strokeColor="#ef914b"
                          strokeWidth="3"
                          android:strokeWidth="10" ></chart:PaletteEntry>
                      </chart:Palette.entries>
                    </chart:Palette>
                  </chart:RadCartesianChart.palettes>
                </chart:RadCartesianChart>
              </GridLayout>


            </StackLayout>
          </StackLayout>
        </FlexboxLayout>
        <StackLayout class="bottom-nav-wrapper">
          <FlexboxLayout alignItems="center" flexDirection="row"
                         id="bottom-nav">
            <StackLayout flexGrow="1" height="100%">
              <Label (tap)="change"
                     style="text-align:center;" class="ico g"
                     flexGrow="1" text="&#xe901;" > </Label>
            </StackLayout>
            <StackLayout flexGrow="1" height="100%">
              <Label (tap)="change"
                     style="text-align:center;"
                     [class]="ico_class" flexGrow="1"
                     text="&#xe900;" > </Label>
            </StackLayout>
            <StackLayout flexGrow="1" height="100%">
              <Label (tap)="change "
                     style="text-align:center;"
                     [class]="ico_class" flexGrow="1"
                     text="&#xe903;" > </Label>
            </StackLayout>
            <StackLayout flexGrow="1" height="100%">
              <Label (tap)="change "
                     style="text-align:center;"
                     [class]="ico_class" flexGrow="1"
                     text="&#xe902;" > </Label>
            </StackLayout>
          </FlexboxLayout>
        </StackLayout>
      </StackLayout>
      <AbsoluteLayout id="overlay" height="100%" width="100%">
      </AbsoluteLayout>
    </GridLayout>

  </GridLayout>


</Page>
