.s-grid-tile{
  margin-top: 5px;
  margin-bottom: 5px;
}
cdk-virtual-scroll-viewport,
ul {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  margin: 0 auto;
  margin-top: 24px!important;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin:  0 10px;
  margin-bottom: 50px;
  li {
    height: 100px;
    margin: 10px;
    padding: 10px;
    background: whitesmoke;
    box-shadow: 2px 2px 3px rgba($color: #888888, $alpha: 0.2);
  }

}


.full-width-table {
  width: 100%;
}


.example-img{
  // padding-top: 120px;
  width: 80px;
  height: 30px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.title {
  color: blue;
  align-items: center
}

.mat-card-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;

  // Makes `<img>` tags behave like `background-size: cover`. Not supported
  // in IE, but we're using it as a progressive enhancement.
  object-fit: cover;
}


.addItem{
  position: absolute;
  right: 10px;
  bottom: 0px;
  background: var(--blue);
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 6px;
  font-size: 12px;
  line-height: 0.228571429;
  border-radius: 30px;
  border: 5px solid rgb(231, 235, 236);
  background-color: rgb(204, 211, 209)
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(3, 31, 124);
  color: white;
  text-align: center;
}

.infinite-grid {
  grid-template-columns:  var(--s-grid-template-columns,repeat(auto-fill, minmax(var(--s-grid-tile-width,300px), 1fr)));
  grid-template-rows: auto;
}

