<AbsoluteLayout class="banner">
  <!-- background-image -->
  <StackLayout width="100%" class="padding-lr" (tap)="onSelect()">
    <AbsoluteLayout class="big-img">
      <Image class="big-img" stretch="aspectFill" width="100%" src="~/assets/home-banner-1.png" height="100%"></Image>
      <Image class="animate-cloud" src="~/assets/home-banner-clouds.png" width="100%" height="40%"></Image>
      <Label text="" class="star one"> </Label>
      <Label text="" class="star two"> </Label>
      <Label text="" class="star three"> </Label>
      <Label text="" class="star four"> </Label>
      <Label text="" class="star five"> </Label>
    </AbsoluteLayout>
  </StackLayout>
  <!-- content -->
  <DockLayout width="100%" height="100%" stretchLastChild="false" class="content-wrapper">
    <FlexboxLayout dock="bottom" width="100%" flexDirection="row">
      <StackLayout alignSelf="flex-end" orientation="vertical" width="46%" class="badge">
        <Label text="{{course.name}}" class="h4 text-green"> </Label>
        <Label text="5 mins • Course" class="text-white margin-fix"> </Label>
      </StackLayout>
      <Image src="~/assets/banner-1-figure.png" width="54%" class="figure" dock="right"></Image>
    </FlexboxLayout>
  </DockLayout>
</AbsoluteLayout>
