/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/
 @import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/default.css";

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

/*
The following CSS rule changes the font size of all Buttons that have the
"-primary" class modifier.
*/

/* Button.-primary {
    font-size: 18;
} */


/* @import '~@nativescript/theme/css/core.light.css'; */

.btn {
    font-size: 18;
}

.page{
    font-family:'Overpass','overpass-regular', 'Overpass ExtraBold','overpass-extrabold';
    color: #3E435E;
}

.android .h1{line-height: 8}

.h1{ font-weight: 800; font-size: 36;}
.no-hd .h1{ font-size: 33}
.ios .h4{margin: 0}

.padding-lr{padding-left: 30; padding-right: 30}
.no-hd .padding-lr{padding-left:25; padding-right: 25}

.description-label{opacity: 0.7; font-weight: 400; font-size: 16}
.android .description-label {font-size: 14}
label{font-size: 15;}
.heading{color:#3E435E; margin:0; font-weight: 800;}
.h2 {font-size: 26; margin: 0 ;color: #3E435E;font-weight: 800; }
.android .h2 {font-size: 24}
.bold{font-weight: 800;}

.android .margin-fix{margin-top: -3}


.home-panel{
    color: #3E435E;
    font-size: 18;
    margin: 25;
}
#main_scroll{ margin-bottom: -25;}
.main_Scroll-heightfix{height: 25;}

.ios #main_scroll{margin-top: 1}

.hd #main_scroll{ margin-bottom: -25;}
.hd .main_Scroll-heightfix{height: 30;}

.margin-b{margin-bottom:10}

.main-panel{margin: 30}
.action-bar{width: 100%; background: #E7ECF3;  }
.menu-wrapper .ico{margin-left: -4}
.menu-wrapper{margin: 10 0 }
.ico{font-family:'fokus-icons'; font-size: 30; margin: 0; color: #B0BCCE;}
.ico.g{color: #24CBE5;}
.notify{background: #24CBE5; width: 10; height: 10 ; border-radius: 6; border-color: white;border-width: 2; margin-left: -2; margin-top: -1}
#bottom-nav{background: #D9E0EC;  border-radius: 25 25 0 0; padding: 18 0;}
.no-hd #bottom-nav{ padding: 15 0}

.bottom-nav-wrapper{background: #E7ECF3;}
.android .login-form{ padding-top:25; padding-bottom: 25; }
.login-form{ background: white; border-radius: 25 25 0 0; padding-top:40; padding-bottom: 40; }
.form-input{ background: #E7ECF3;  padding: 18 18 18 45; border-radius: 12;  font-size: 16; }
.android .form-input{ padding-top: 16; padding-bottom: 16}
.form-input-wrapper{ margin: 15 0 20 0}
.form-label{color: #787C8F; top: 0}
.forgot-pass {font-size: 16}
#login-page .login-form .ico{ width: 54; height: 54; padding: 14 0 }
.android #login-page .login-form .ico{ width: 50; height: 50; padding: 12 0; }
.pass-wrapper{margin-top: 20}
#login-fig { background-size: cover; background-repeat: no-repeat; background-position: center bottom; margin-bottom: -8}
.input-wrapper .ico{top: 1; left: 10}
.no-hd#login-page .star.five{ visibility: collapse}

/*
.bottom-outer{border-radius: 25 25 0 0;}
*/
.text-white{color: white; opacity: 1;}
.text-green{color:#24CBE5; opacity: 1;}
.text-yellow{opacity: 1; color: #FFE7B8;}
.text-p{ opacity: 1; color: #38206B}

.h4{font-size: 18; margin:0; font-weight: 800;}
.h5{ font-size: 16; font-weight: 800}
.text-dull{ font-weight: 400 ; color:#5D5DD1; opacity: 1}
.h3{font-size: 20;}
.android h3{ font-size: 20;}
.section{ margin: 30 30 0 30;  padding-top: 25;}
.no-hd .section{ margin-top: 25}

.routine-banner{
    width: 170; height: 112; margin-right: 15
}
.no-hd .routine-banner { height: 97; width: 145}
.routine-wrapper{margin-top: 25; margin-bottom: 35}
.routine-wrapper label{ top: 52; left: 15}
.no-hd .routine-wrapper label{ top: 42; left: 15}
.routine-banner image{border-radius: 16}
.no-hd .routine-banner image{border-radius: 13}

/***** Slider *****/
#slider-wrapper,.big-img{ height: 250;}
.no-hd #slider-wrapper,.no-hd .big-img{ height: 220;}
#section2 .banner{width: 50%;}
#section2 .banner image, #section2 .banner{ height: 150;}

.badge, #section2 .banner .h4{padding: 15;}
.no-hd .badge,.no-hd #section2 .banner .h4{padding: 12}

.no-hd #section2 .banner image, .no-hd #section2 .banner{ height: 130;}

.big-img,#section2 .banner image{border-radius: 24;}

.borders{border-radius: 24;}
.no-hd .borders{border-radius: 18;}

#cant-decide-wrapper{ height: 250; margin-top: 15}
#cant-decide-wrapper image{ border-radius: 25 25 0 0 }
#cant-decide-wrapper .description-label{opacity: 0.7}

.no-hd .big-img,.no-hd #section2 .banner image{border-radius: 18;}

.big-img{ background-repeat: no-repeat;background-size: cover; background-position: left}
.badge{background: #130D6D; border-radius: 16; transform: translate(15,-15);}
.no-hd .badge{padding: 12}
.content-wrapper{padding:0 15 0 30}
.no-hd .content-wrapper{padding:0 15 0 25}
.banner{width: 100%; height: 100%}
.animate-cloud { animation-fill-mode: forwards; animation-iteration-count: infinite; animation-timing-function: linear; animation-name: clouds-move;  animation-duration: 28s;}
.star{ background: white; width: 4; height: 4; border-radius: 6; top: 25; left: 95;}
.star.one{animation-name: op; animation-duration: 2s; animation-iteration-count: infinite;}
.star.two{ left: 199; top: 36; height: 5; width: 5; animation-delay: 2s; animation-name: op; animation-duration: 1.6s; animation-iteration-count: infinite }
.star.three{ left: 280; top: 22; height: 2; width: 2; animation-delay: 2s; animation-name: op; animation-duration: 1s; animation-iteration-count: infinite }
.star.four{ left: 140; top: 60; height: 2; width: 2; animation-delay: 1s; animation-name: op; animation-duration: 1.1s; animation-iteration-count: infinite }
.star.five{ left: 320; top: 49; height: 4; width: 4; animation-delay: 1.8s; animation-name: op;  animation-duration: 1.3s; animation-iteration-count: infinite }

.slider-dots{ justify-content: center; margin: 15 0 0 0}
.slider-dots label{ background:#B0BCCE; width: 6; height: 6; border-radius: 6; margin-right: 6 }
.slider-dots label.active{ background: #3E435E; width: 20}

.meditation-story .slider-dots label{ background:white; }
.meditation-story .slider-dots label.active{ background: #24CBE5; }


.advance .badge{ background: #38206B;}
.advance .badge .text-green{color: #FFB6A6}

.advance-page .text-green, .advance-page .ico.g {color: #498EC7}


@keyframes op{
    0%{ opacity: 1}
    50%{opacity: 0}
    100%{opacity: 1}
}

@keyframes clouds-move{
    0% {transform: translateX(0)}
    49% {transform: translateX(-420)}
    50% {opacity:0;}
    51%{transform: translateX(420);}
    52%{opacity: 1}
   100% {transform: translateX(0)}
}


@keyframes jump-up-heading{
    0%{ opacity: 0; transform: translateY(25)}
    100%{opacity: 1;transform: translateY(0)}
}



/****** Meditation-story page ******/
.meditation-story{
    background: #3A2CBB;
}

#story-page.advance-page{
    background: #C2ECFF;
}

#story-page.advance-page .star{ visibility: collapse;}

#story-page.advance-page .h1{color: #38206B}

#story-page.advance-page .text-dull{color: #74BBE2}

.meditation-story .h1 {
    opacity: 0;
    animation-name: jump-up-heading;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}


.meditation-story .head{
    opacity: 0;
    animation-name: jump-up-heading;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


#moon{
    width: 52;
    transform: translate(-136,100);
}

.no-hd #moon{
    width: 46;
    transform: translate(-116,79);
}


.basic-page #leaf{
    width: 90;
    transform: translate(165,-98);
}

#leaf.animate{
    animation-name: leaf-rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.no-hd.basic-page #leaf{
    width: 80;
    transform: translate(152,-82);
    animation-name: leaf-rotate-nohd;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.advance-page #leaf{
    width: 70;
    transform: translate(180,-90);
}


.no-hd.advance-page #leaf{
    width: 60;
    transform: translate(175,-55);
}

.meditation-story .star.one{ left: 85}
.meditation-story .star.five{ left: 350; top: 84}

.ico.play{
    background: #24CBE5;
    width: 120;
    height: 120;
    border-radius: 130;
    text-align: center;
    border-width: 14;
    font-size: 46;
    border-color: #354CC4;
    margin-top: 15;
    color: white;
    padding: 27 0
}

.advance-page .ico.play{
    background: #FFB6A6;
    border-color: #DAD7DB;
    color: #FFE6E3;
}


.meditation-story.advance-page .slider-dots label{ background: #FFB6A6; }
.meditation-story.advance-page .slider-dots label.active{ background: #38206B }

.advance-page .timing{ color: #498EC7}

.jump-up{
    animation-name: dashboard-jump;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }

.no-hd .jump-up{ animation: dashboard-jump-nohd 0.6s ease 0 1 forwards;}


.dashboard-wrapper{background: #E7ECF3; padding-top:25; padding-bottom: 25; border-radius: 25 25 0 0}
.no-hd .dashboard-wrapper{padding-top: 20; padding-bottom: 20;}
.dashboard-wrapper .ico, .login-form .ico.g{ background: rgba(36,203,229,0.1); width: 42 ; height: 42 ; text-align: center; border-radius: 12; padding: 10 0}

/*
.dashboardOpen #dashboard-wrapper-outer {
    visibility: visible;
    animation-name: dim;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#dashboard-wrapper-outer{ background-color: rgba(62,67,94,0); visibility: collapse}
*/

/*
#dashboardContent { visibility: collapse; opacity: 0;}

.dashboardOpen #dashboardContent {
    visibility: visible;
    animation-name: fade-in;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
 }
 */

#overlay{ background: rgba(62,67,94,0.9); visibility: collapse;
    animation-name: dim;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.dashboardOpen #overlay { visibility: visible; }

#dashboard-wrapper-outer{visibility: collapse; }

.dashboardOpen #dashboardContent {
    visibility: visible;
    animation-name: fadeIn;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;}


#dashboardContent {  opacity: 0; height: 280; visibility: collapse; margin-top: 20; border-top-width: 1; border-color: #d9e0ec; padding-top: 25 }

.bottom-outer{
    border-radius: 25 25 0 0;
    background-color: rgba(255,255,255,1);
}
.dashboardOpen .bottom-outer{
    border-radius: 0;
    animation-name: changeBg;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    }

@keyframes changeBg {
  0% {
    background-color: rgba(255,255,255,1);
  }
  100% {
      background-color: rgba(62,67,94,0.9);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;

  }

  100% {
      opacity: 1;

  }
}

@keyframes dim{
    0%{opacity: 0}
    100%{opacity: 1}
}

@keyframes dashboard-jump{
    0%{transform: translateY(75);}
    100%{transform: translateY(0);}
}

@keyframes dashboard-jump-nohd{
    0%{transform: translateY(65);}
    100%{transform: translateY(0); }
}



#play-btn{
    opacity: 0;
    animation-name: jump-up-heading;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;}

.timing{
    color: #24CBE5;
    opacity: 0;
    animation-name: jump-up-heading;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;}

.buffer{
    background: red;
}

@keyframes leaf-rotate{
    0%{ transform: rotate(0deg) translate(165,-98)}
    50%{ transform: rotate(-6deg) translate(165,-98) }
    100%{ transform: rotate(0deg) translate(165,-98)}
}

@keyframes leaf-rotate-nohd{
    0%{ transform: rotate(0deg) translate(152,-82)}
    50%{ transform: rotate(-6deg) translate(152,-82) }
    100%{ transform: rotate(0deg) translate(152,-82)}
}


#story-page{
    background: #3A2CBB;
}
#login-page{
 background-color: #130D6D;
}

.login-form{ animation-name: form-slide-up; animation-fill-mode: forwards; animation-duration: 0.5s; animation-timing-function: ease-out;}
.no-hd .login-form{ transform: translateY(295)}
.login-form{ transform: translateY(330)}
#login-fig, #login-bg{opacity: 0}
#login-fig, #login-bg{ animation-name: fig-slide-down; animation-fill-mode: forwards; animation-duration: 0.5s; animation-timing-function: ease-out; animation-delay: 0.5s;}

/** Login Page animations **/

@keyframes form-slide-up{
    0%{ transform: translateY(330)  }
    100%{ transform: translateY(0)  }
}

@keyframes form-slide-up-no-hd{
    0%{ transform: translateY(295)  }
    100%{ transform: translateY(0)  }
}

@keyframes fig-slide-down{
    0%{ transform: translateY(-10); opacity: 0}
    100%{ transform: translateY(0); opacity: 1}
}

@keyframes bg-color{
    0%{ background-color: #3A2CBB}
    100%{ background-color: #130D6D}
}

/** video-section **/

.book-wrapper{ background: #F5F7FA; padding: 15}

.vid-wrapper{ padding: 25 0; border-bottom-width: 1; border-color: #E7ECF3}
.vid-wrapper .ico, #cant-decide-wrapper .ico { font-size: 18; background: rgba(36,203,229,0.1); width: 42 ; height: 42 ; text-align: center; border-radius: 50; padding: 14 0}
#cant-decide-wrapper .ico { background: #FFB6A6; color: #38206B; margin-top: 20; width: 60; height: 60; padding: 20 0; font-size: 22}

