<div class="container-fluid event-overview common-margin">
  <mat-tab-group mat-align-tabs="start" id="tab-group">
    <mat-tab *ngFor="let dashboardLink of dashboardType?.dashboards" [label]="dashboardLink.name">
      <ng-template matTabContent>
        <iframe #iframe style="width: 100%;height: 100vh;position: relative;"
                [src]="dashboardLink.link | safe"
                frameborder="0"
                allowfullscreen></iframe>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

