<div class="resource-thumb">
  <div class="thumb-image"><img src="{{imageUrl}}" alt=""></div>
  <div class="info">
    <h4 class="mt-3 mb-0" (click)="openVerticallyCentered(content)"><a>{{title}}</a></h4>
    <p class="small text-muted">Language: {{language}}</p>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <iframe width="100%" height="550px" frameborder="0" [src]="sanitizedVideoUrl"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>