//@import "../../../../styles.scss";

.resource-thumb{
    margin-bottom: 40px;
    .thumb-image{
        border:1px solid #E4E4F1;
        height: auto;
    }

    img{
        width: 100%;
    }

    h4{
        font-weight: 600;

        a{
            //color: $secondary-color;
            cursor: pointer;

            &:hover{
                //color: $primary-color;
            }
        }
    }
  }

  .modal-header{
    h4{
        color: gray;
        font-weight: 400;
    }

    button{
        outline: none;
    }
  }
