<ScrollView orientation="horizontal" row="2" scrollBarIndicatorVisible="false">
  <GridLayout columns="{{columnCount}}" class="padding-lr routine-wrapper">
    <ns-optional-course-card *ngFor="let course of courses; index as i" [course]="course" [index]="i"></ns-optional-course-card>
  </GridLayout>
</ScrollView>
