/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:200,100,400');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "../../../libs/base/src/lib/global-scss/variables";
@import "~font-awesome/css/font-awesome.css";
@import "app/components/event-banner/event-banner.component";


  $body-font: 'Roboto', sans-serif;
  $heading-font: 'Roboto', sans-serif;

  $primary-color: rgb(224, 176, 72);
  $secondary-color: rgb(22, 161, 253);
  $white-50: rgba(255,255,255, .5);

html{
  scroll-behavior: smooth;
}
body {
  font-family: $body-font;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   background: var(--web_bg)!important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 100;
  color: gray;
}

a {
  //color: #20c0ff;
  font-weight: bold;
  transition: a11 .4s;
  &:hover {
    //color: darken(#1c90f3, 10%);
    text-decoration: none;
  }
}


.search-new{
  .mat-dialog-container{
    border-radius: 50px;
    background: var(--light);
    border: 1px solid var(--white);


    -webkit-animation: search-pop 0.2s steps(2, end) both;
    animation: search-pop 0.2s steps(2, end) both;

    input {
      width: 98%;
      border: none;
      outline: none;
      background: var(--light);
      padding-left: 20px;
      font-size: 17px;
    }
  }
}

@-webkit-keyframes search-pop {
  0% {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes search-pop {
  0% {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
