.dropDowen{
  min-width: 150px;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  border-right: 1px solid var(--border);
  padding: 10px;
  margin-right: 15px;
 > div{
   flex: 1;
   position: relative;
   top: 7px;
   &:first-child{
     flex: 0;
     margin-right: 10px;
   }
  }
  &:last-child{
    border-right: none;
  }
}

.sathi_form-field_wrapper{
  display: flex;
  flex-direction: row;
  > div {
    flex: 1;
  }
}

.sathi_form-field{
  margin: 12px 20px 0;
  border: 1px solid var(--border);
  background: var(--white);
}

:host{
  .mat-form-field, .mat-flat-button{
    margin-right: 12px;
  }

}
