<mat-form-field>
  <mat-select placeholder="Organization*" [formControl]="formControlInstance" [compareWith]="compareOrgs">
    <mat-option *ngFor="let org of infinite" [value]="org">
      {{org[displayField]}}
    </mat-option>
  </mat-select>
    <mat-error *ngIf="formControlInstance.hasError('required')">
      organization is <strong>required</strong>
    </mat-error>
</mat-form-field>

