<ScrollView id="banner-slider" orientation="horizontal" scrollBarIndicatorVisible="false" scroll="onScroll">
  <FlexboxLayout flexDirection="row" width="{{columnWidth}}%" id="slider-wrapper">
    <ng-container *ngFor="let course of courses;" >
      <ns-mandatory-course-card *ngIf="course.mandatory" [course]="course"></ns-mandatory-course-card>
      <ns-mandatory-course-card-type-2 *ngIf="!course.mandatory" [course]="course"></ns-mandatory-course-card-type-2>
    </ng-container>
  </FlexboxLayout>
</ScrollView>
