 @import "../../../../../../libs/base/src/lib/global-scss/variables";
 @import "../../../../../../libs/base/src/lib/global-scss/mixins";
 $primary-color: rgb(224, 176, 72);
 $white-50: rgba(255,255,255, .5);

 $scrollBarHeight: 1px;

 ::-webkit-scrollbar {
   width: $scrollBarHeight;
   height: $scrollBarHeight;
 }

 ::-webkit-scrollbar-button {
   width: $scrollBarHeight;
   height: $scrollBarHeight;
 }


 .about-sp{
  background:  $primary-color;
}

.notifications{
  background: #f5f5f5;
}

 .logo{
   padding:10px 0;
   margin-left: 90px;
   margin-top: 30px;
   img{
     width: 35%;
   }
   float: left;
 }
  @media (min-width: 900px) {
    .top-header{
      position: absolute;
      width: 100%;
      z-index: 10;
    }
  }



 .main_wrapper {
   position: absolute;
   display: block;
   top: 0;
   left: -1169px;
   margin: 0;
   padding-top: 1px;
   overflow-y: auto;
   overflow-x: hidden;
   -webkit-animation: ease-in-out 6s linear infinite;
   -moz-animation: ease-in-out 6s linear infinite;
   animation: ease-in-out 6s linear infinite;
   transform: rotate(-90deg) ;
   //transform: rotate(-90deg) translateY(80px);
   transform-origin: right top;
   & > div {
     display: block;
     transform: rotate(90deg);
     transform-origin: right top;
     position: relative;
     top: 1088px;
     width: 100vh;
     height: 100vw;
     padding: 0;
     > div{
       display: block;
       width: 100vw;
       height: 100vh;
       overflow-y: auto;
     }

   }

   s-grid{
     grid-gap: 0;
     padding: 0;
   }
 }

.blue{
  background: var(--menuBG);
}

 .silver{
   background: var(--silver);
 }
