<div style="position:relative">
  <div class="main_wrapper" [ngStyle]="{'width':screenHeight, 'height': screenWidth, 'left' :  '-'+(screenHeight)}">
    <!--   <div class="main_wrapper" >-->
    <div [ngStyle]="{'top':screenHeight }" class="blue">
      <div class="blue">
        <s-grid
          lg="' top_header  top_header'  'left_banner  right_banner'  'latest_event   latest_event'   'main_menu   main_menu' "
          md="' top_header  top_header'  'left_banner  right_banner'  'latest_event   latest_event'   'main_menu   main_menu'"
          sm="' main_menu  top_header'  'right_banner  right_banner'  'left_banner   left_banner'  'latest_event   latest_event'"
          x-sm="'main_menu  top_header'  'right_banner  right_banner'  'left_banner   left_banner'  'latest_event   latest_event'">

          <s-grid-tile [gridArea]="'top_header'" class="top-header">
            <div>
              <a href="#countactus">
                <div class="logo"><img src="../../../assets/images/satipasala-logo.png" alt="Sati Pasala">
                </div>
              </a>
              <web-user-profile></web-user-profile>
            </div>
          </s-grid-tile>

          <s-grid-tile [gridArea]="'left_banner'" class="silver">
            <web-events-content></web-events-content>
          </s-grid-tile>

          <s-grid-tile [gridArea]="'right_banner'"  class="silver">
            <event-banner></event-banner>
          </s-grid-tile>

          <s-grid-tile [gridArea]="'latest_event'"  class="silver">
            <!--      <web-notification></web-notification>-->
            <event-slider></event-slider>
          </s-grid-tile>

          <s-grid-tile [gridArea]="'main_menu'">
            <web-menu></web-menu>
          </s-grid-tile>
        </s-grid>
      </div>
    </div>
    <div>
      <div>
        <web-menu class="about"></web-menu>
        <web-about-us-content></web-about-us-content>
<!--        <web-about-us-header></web-about-us-header>-->
      </div>
    </div>
    <div>
      <div>
        <web-menu class="about"></web-menu>
        <web-about-us-content></web-about-us-content>
<!--        <web-about-us-header></web-about-us-header>-->
      </div>
    </div>
    <div>
      <div>.background-wrap
        <web-resources-header></web-resources-header>
        <web-resources-content></web-resources-content>
        <web-video-content></web-video-content>
      </div>
    </div>
    <div>
      <div id="#countactus">
        <web-contact-us></web-contact-us>
        <web-about-us-header></web-about-us-header>
      </div>
    </div>
    <div>
      <div>item 6</div>
    </div>
    <div>
      <div id="horizontalContainerStart">item 7</div>
    </div>
    <div>
      <div id="inHorizontalContainer">item 8</div>
    </div>
  </div>
</div>


<!--<section class="header" [class.scrolling]="isScrolling">-->
<!--  <web-menu></web-menu>-->
<!--  <event-banner></event-banner>-->
<!--</section>-->
<!--<section class="about-sp">-->
<!--  <home-about></home-about>-->
<!--</section>-->
<!--<section class="notifications">-->
<!--  <web-notification></web-notification>-->
<!--</section>-->

