<!--<div class="container-fluid cloud-wrapper" >-->
<!--  <div class="row cloud header-icon ">-->
<!--    <div><a href=""><i class="fa fa-envelope"></i></a></div>-->
<!--    <div><a href=""><i class="fa fa-unlock"></i></a></div>-->
<!--    <div><a href=""><i class="fa fa-search"></i></a></div>-->
<!--&lt;!&ndash; &ndash;&gt;-->
<!--&lt;!&ndash;    <div class="text-white login-link"><a href="">Login</a></div>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
