<mat-card>
  <!--  <mat-card-header>
      &lt;!&ndash;<img *ngIf="imageUrl | async as ptUrl" mat-card-avatar style="width: 52px;height: 52px" [src]="ptUrl" alt="No Image"
           alt="Avatar">&ndash;&gt;
      <mat-card-title>{{auditInfo.context.params.id }}</mat-card-title>
      <mat-card-subtitle>{{auditInfo.context.params.collection}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>Event Type:{{auditInfo.context.eventType}}</div>
      <p>{{auditInfo}}</p>

    </mat-card-content>-->

  <tr>
    <td>
      <img class="img-sm rounded-circle mb-md-0 mr-2" src="../../images/latest-ticket/4.png" alt="profile image">Ruth
      Berry
    </td>
    <td class="text-muted">
      {{auditInfo.context.params.id }}
    </td>
    <td class="text-muted">
      {{auditInfo.context.params.collection}}
    </td>
    <td>

    </td>

    <mat-chip  [color]="getColor(auditInfo.context.eventType)">
      {{auditInfo.context.eventType}}
    </mat-chip>
</mat-card>
