<h1 mat-dialog-title>Change activity state</h1>
<p mat-line>Please confirm state update to {{getActivityStatusToBeChanged()}} activity</p>
<mat-dialog-content class="ref-dialog">
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="confirmActivityStateChange()" cdkFocusInitial>Ok</button>
  <button mat-flat-button color="accent" (click)="cancelUpdate()">Cancel</button>
</div>

