<div [formGroup]="form">
<mat-checkbox  class="example-margin" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="field.checked"
              [(indeterminate)]="field.indeterminate"
              [labelPosition]="field.labelPosition"
              [disabled]="field.disabled"> {{field.label}} </mat-checkbox>
</div>
