<div class="container about">
  <div class="row d-flex">
    <!--Sidebar -->
    <div class="col-12 col-md-4 col-lg-3 mb-sm-3">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">Introduction to Sati Pasala</a>
        <a href="#" class="list-group-item list-group-item-action">Message from Most Ven U. Dhammajiva Thero</a>
        <a href="#" class="list-group-item list-group-item-action">Vision & Mission</a>
        <a href="#" class="list-group-item list-group-item-action">Objectives</a>
        <a href="#" class="list-group-item list-group-item-action">Code of Conduct</a>
      </div>
    </div>
    <!--/Sidebar -->
    <!--/Content -->
    <div class="col-12 col-md-8 col-lg-9">
      <div class="row ">
        <div class="col-12">
          <p class="lead">Sati Pasala was established in March 2016 with the aim of sharing mindfulness with students,
            teachers and
            everyone in the school community. Mindfulness is classically defined as the ability repeatedly bring our
            bare
            attention, on purpose, to the present moment, non-judgementally. Although the practice of mindfulness is
            widely popular and has been integrated into the education systems in certain Western developed nations, in
            Sri
            Lanka it is yet to get established in a systematic manner.</p>
          <p>
            Neuroscientific research during the past two decades has convincingly shown how mindfulness results in
            certain
            areas of the brain undergoing demonstrable structural changes. In addition, certain functional changes which
            positively affect emotional regulation, coping skills and better management of anxiety and stress, have been
            demonstrated. During the formative years of a child when the growth of the brain and its functions are very
            rapid, mindfulness has been shown to have a positive influence. Studies done in schools and universities
            have
            shown that students showed improved focus at academic work, better relationship with peers and teachers,
            less
            stress and anxiety during exams and that relationships with family members were healthy.<br /><br />

            These findings had a major influence in the decision to commence Sati Pasala as a grass-roots level
            initiative
            involving schools that volunteered to join the program. Subsequently, after successful completion of several
            programs in provincial schools, the Ministry of Education took a lead role in encouraging teachers and
            Principals to also be exposed to mindfulness. This resulted in introduction of mindfulness to Provincial,
            Zonal and Divisional Education authorities, in addition to the National Institute of Education. Sati Pasala
            programs conducted in schools include familiarizing students with simple and interesting instructional
            essays
            on mindfulness, followed by practical guidance on mindful sitting and mindful walking, mindfulness during
            play, mindful eating and mindful listening. Sati Pasala Mindfulness Facilitators have been visiting schools
            on
            invitation only.<br /><br />

            By 2018 Sati Pasala program had evolved into a broad, non-sectarian, non-religious mindfulness movement in
            Sri
            Lanka, where in addition to schools and universities, the message of mindfulness and its vast benefits are
            being shared with multiple sectors such as health care workers, government officials, prisons, the
            Parliament
            and those in the corporate sector.<br /><br />

            The architect of Sati Pasala is a senior Theravada Bhikkhu with a history of practicing mindfulness for
            nearly
            40 years. Venerable Uda Eriyagama Dhammajiva Maha Thero is the Abbot and Chief Meditation Master of
            Nissarana
            Vanaya, a forest monastery in Sri Lanka.<br /><br />

            Sati Pasala Mindfulness programs are facilitated by a team of volunteers who are practitioners of
            mindfulness.
            In 2017 Sati Pasala was registered as a foundation (Sati Pasala Foundation).</p>
        </div>
      </div>
    </div>
    <!--/Content -->
  </div>
</div>
<section class="border-top mt-5">
  <div class="container">
    <div class="row mt-3">
      <div class="col copyright">
        <p class=""><small class="text-black-50">© 2019. Satipasala Foundation. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</section>