<div class="slide-container" >
<!--    <div class="slide-first-element"-->
<!--         *ngFor="let slide of images"   [ngClass]="slide.class"-->
<!--         [ngStyle]="{'background': 'url(' + slide?.src + ') no-repeat'}" >-->
<!--    </div>-->


<!--    <div id="slide-element-2">-->
<!--    </div>-->
<!--    <div id="slide-element-3">-->
<!--    </div>-->
<!--    <div class="container h-100">-->
<!--        <h1>Sharing <br />Mindfulness with-->
<!--            <p class="txt-rotate" data-period="3000"-->
<!--                data-rotate='[ "School Children", "Individuals", "Social Workers", "Institutions", "Organizations"]'>-->
<!--            </p>-->
<!--        </h1>-->
<!--    </div>-->
  <div class="banner_overlap"><img src="../../../assets/banner-bg.svg"></div>

  <ngb-carousel >
    <ng-template ngbSlide *ngFor="let slide of images">
      <div class="img-wrapper">
        <img [src]="slide.src" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <p>{{slide.text}}</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>



