
.slide-container {
  position: relative;
  width: 100%; /* responsiveness */
  height: 80vh;
  overflow: hidden;

  .carousel {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    .carousel-inner {
      position: absolute;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .carousel-item {
        top: 0;
        bottom: 0;
        position: absolute;
      }

      .carousel-item {
        display: block;
        opacity: 0;
        transition: opacity 2s;

        .carousel-caption {
          background: rgba(0, 0, 0, 0.5);
          left: 0;
          right: 0;

          P {
            font-size: 30px;
            text-align: left;
            color: var(--white);
          }
        }
        img{
          width: 100%;
        }
      }

      .carousel-item.active {
        display: block;
        opacity: 1;
        transition: opacity 2s;
      }
    }
  }

  .img-wrapper{
    position: relative;
  }

  .carousel-control-next, .carousel-control-prev{
    z-index: 18;
  }

}

@media (min-width: 992px) {
  h1 {
    font-size: 3.5rem;
    bottom: 80px;
    left: 0;
  }
  p {
    display: inline-block;

  }
}

.banner_overlap{
  position: relative;
  img{
    position: absolute;
    z-index: 1;
  }
}

