<mat-card>
  <mat-card-header>
    <img mat-card-avatar style="width: 52px;height: 52px" src="assets/images/user-role.png" alt="user-role">
    <mat-card-title >Name: {{permissionLevel.name}}</mat-card-title>
    <mat-card-subtitle>Level: {{permissionLevel.access_level}}</mat-card-subtitle>
  </mat-card-header>
<!--<img src="assets/images/mindfulness.jpg">-->
 <!-- <mat-card-content>
    <p>{{permissionLevel.description}}</p>
  </mat-card-content>-->

</mat-card>
