<!-- <form  >

<mat-card>
  <div class="row">

    <div class="col">
      <mat-form-field>
        <mat-select placeholder="Country*" [formControl]="countryFormControl" [compareWith]="compareItems" [disabled]="disabled">
          <mat-option *ngFor="let country of countries" [value]="country">{{country.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="countryFormControl.hasError('required')"
                   i18n="@@didYouForgetToInputValue">
          Country is required
        </mat-error>
      </mat-form-field>


      <div class="col">
        <mat-form-field>
          <mat-select placeholder="State/Province*" [formControl]="stateFormControl"
                      [compareWith]="compareItems" [disabled]="disabled">
            <mat-option *ngFor="let state of states" [value]="state">{{state.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="stateFormControl.hasError('required')"
                     i18n="@@didYouForgetToInputValue">
            State is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col">
      <mat-form-field>
        <mat-select placeholder="City*" [formControl]="cityFormControl" (selectionChange)="selectedCity($event.value)"
                    [compareWith]="compareItems" [disabled]="disabled">
          <mat-option *ngFor="let city of cities" [value]="city">{{city.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="cityFormControl.hasError('required')"
                   i18n="@@didYouForgetToInputValue">
          City is required
        </mat-error>
      </mat-form-field>


        <mat-form-field class="margin_LF_10">
          <mat-label>Host Types</mat-label>
          <mat-select [formControl]="orgTypeFromControl" multiple>
            <mat-option *ngFor="let orgType of orgTypes" [value]="orgType">{{orgType.name}}</mat-option>
          </mat-select>
        </mat-form-field>

    </div>

    </div>
  </div>
  </mat-card>
</form> -->
