<mat-card>
  <mat-card-header>
    <img mat-card-avatar style="width: 52px;height: 52px" src="assets/images/user-role.png" alt="user-role">
    <mat-card-title>{{permission.description}}</mat-card-title>
    <mat-card-subtitle>{{permission.name}}</mat-card-subtitle>
  </mat-card-header><!--
 <img src="assets/images/mindfulness.jpg">-->
  <mat-card-content *ngIf="selectionEnabled">
    <mat-slide-toggle [checked]="false" (change)="onSelected.emit({item:permission,selected:$event.checked});">
    </mat-slide-toggle>
  </mat-card-content>
</mat-card>
