<form *ngIf="form" (ngSubmit)="onSubmit.emit(this.form.value)" [formGroup]="form">
  <mat-vertical-stepper cdkDropList *ngIf="form" [linear]="isLinear" #dynamicStepper cdkDropList
    (cdkDropListDropped)="drop($event)">
    <mat-card class="questionnaire">
      <mat-step cdkDrag (cdkDropListDropped)="drop($event)" cdkDrag [stepControl]="form"
        *ngFor="let field of fields; let i = index">
        <form [formGroup]="form">
          <mat-card-header>
            <ng-template matStepLabel>{{field.label}}</ng-template>
            <s-chip-list *ngIf="field.formChipList" [chipList]="field.formChipList"></s-chip-list>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field [appearance]="isMatFormFieldType(field)?'none':'standard'">
              <satipasala-field-builder [field]="field" [form]="form" placeholder="{{field.label}}">
              </satipasala-field-builder>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="accent" matStepperPrevious
            [class.hideButton]="i == 0">Back</button>
            <button mat-flat-button color="primary" matStepperNext
              [class.hideButton]="fields.length == i+1">Next</button>
          </mat-card-actions>
        </form> 
      </mat-step>
    </mat-card>
  </mat-vertical-stepper>
  <mat-card *ngIf="form && !disableSubmit">
    <mat-card-actions>
      <button mat-flat-button color="primary" [disabled]="!form?.valid" type="submit">Submit</button>
      <button mat-flat-button color="accent" (click)="dynamicStepper.reset()">Clear</button>
    </mat-card-actions>>
  </mat-card>
</form>