 @import "../../../card_format";

/*
 .location_img{
   position: relative;
   margin: -15px -15px 0;
   img{
     max-width: 100%;
   }
   span{
     position: absolute;
     top: 80px;
     right: 30px;
     color: var(--white);
     z-index: 3;
     font-size: 18px;
   }
 }


 .location_icon{
   margin-left: 26px;
 }

.mat-card-header{
  min-height: 100px;
  max-height: 100px;
}
*/

 .mat-card-subtitle {
   display: flex;
   .flag{
     margin-right: 5px;
     color: rgba(0, 0, 0, 0.99);
   }
 }
