.bottom-category {
  position: relative;
  height: 100%;

  > .bottom-category-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &:after {
      content: "";
      background: url("../../../../assets/home_waves-01.svg") no-repeat;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: cover;
      top: -100px;
      z-index: 0;
    }

    &:before {
      content: "";
      position: absolute;
      background: url("../../../../assets/grass-01.svg") no-repeat;;
      right: 60px;
      top: -140px;
      -webkit-animation: grass 14s ease-in infinite;
      -moz-animation: grass 14s ease-in infinite;
      animation: grass 14s ease-in infinite;

      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      transform: scale(0.8);
      bottom: 0;
      z-index: 0;
      width: 50px;
    }
  }

  p {
    position: relative;
    z-index: 1;
    color: var(--dark_browen);
    text-align: center;
    padding: 13px 100px 3px;
    font-size: 13px;
  }

  .main-category {
    position: relative;
    top: 43%;

    ul {
      padding: 0;
      margin: 0;
      position: absolute;
      width: 100%;
      text-align: center;

      li {
        list-style: none;
        display: inline-block;
        max-width: 180px;
        min-width: 10vw;
        padding: 0 5%;

        a {
          img {
            max-width: 100%;
          }

          p {
            color: var(--dark_browen);
            font-size: 12px;
            padding: 0;
          }
        }
      }
    }
  }
}


.main_image{
  width: 138px;
  position: absolute;
  right: 230px;
  top: 50px;
}

@-webkit-keyframes grass {
  0% {
    margin-left: 0;
    transform: scale(0.9);
  }

  50% {
    margin-left: 3px;
    transform: rotate(20deg);
  }

  100% {
    margin-left: 0;
    transform: scale(0.9);
  }
}

.eye_ani {
  position: relative;

  &:before, &:after {
    background: var(--black);
    height: 10px;
    width: 10px;
    content: "";
    position: absolute;
    border-radius: 20px;
    z-index: 10;
    border: 2px solid var(--white);
  }

  &:before {
    -webkit-animation: eye-moment-left 16s infinite;
    -moz-animation: eye-moment-left 16s infinite;
    animation: eye-moment-left 16s infinite;
    animation-delay: 2s;
  }

  &:after {
    -webkit-animation: eye-moment-right 16s infinite;
    -moz-animation: eye-moment-right 16s infinite;
    animation: eye-moment-right 16s infinite;
    animation-delay: 2s;
  }
}

@-webkit-keyframes eye-moment-left {
  0% {
    top: 4px;
    left: 32px
  }
  25% {
    top: 3px;
    left: 28px
  }
  50% {
    top: 4px;
    left: 32px
  }

  75% {
    top:3px;
    left: 37px
  }
  100% {
    top: 4px;
    left: 32px
  }
}

@-moz-keyframes eye-moment-left {
  0% {
    top: 4px;
    left: 32px
  }
  25% {
    top: 3px;
    left: 28px
  }
  50% {
    top: 4px;
    left: 32px
  }

  75% {
    top: 3px;
    left: 37px
  }
  100% {
    top: 4px;
    left: 32px
  }
}

@keyframes eye-moment-left {
  0% {
    top: 4px;
    left: 32px
  }
  25% {
    top: 3px;
    left: 28px
  }
  50% {
    top: 4px;
    left: 32px
  }

  75% {
    top: 3px;
    left: 37px
  }
  100% {
    top: 4px;
    left: 32px
  }
}


@-webkit-keyframes eye-moment-right {
  0% {
    top: 4px;
    right: -1px;
  }
  25% {
    top: 3px;
    right: 2px;
  }
  50% {
    top: 4px;
    right: -1px;
  }
  75% {
    top: 3px;
    right: -5px;
  }
  100% {
    top: 4px;
    right: -1px;
  }
}

@-moz-keyframes eye-moment-right {
  0% {
    top: 4px;
    right: -1px;
  }
  25% {
    top: 3px;
    right: 2px;
  }
  50% {
    top: 4px;
    right: -1px;
  }
  75% {
    top: 3px;
    right: -5px;
  }
  100% {
    top: 4px;
    right: -1px;
  }
}

@keyframes eye-moment-right {
  0% {
    top: 4px;
    right: -1px;
  }
  25% {
    top: 3px;
    right: 2px;
  }
  50% {
    top: 4px;
    right: -1px;
  }
  75% {
    top: 3px;
    right: -5px;
  }
  100% {
    top: 4px;
    right: -1px;
  }
}

