<cloud-animation></cloud-animation>
<div class="bottom-category">
  <img class="main_image" src="../../../../assets/event/main-c.svg"/>
  <div class="main-category">
    <ul>
      <li *ngFor="let category of categoryItem">
        <a [href]="category.link" [class]="category.class">
          <img [src]="category.image">
          <p>{{category.text}}</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="bottom-category-text">
    <p>{{eventText}}</p>
  </div>
</div>
