.dropzone {
  position: relative;
  height: 200px;
  width: 50%;
  border: 2px dashed #b3b3b3;
  border-radius: 4px;
  background-color: #f3f3f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dropzone-small {
  position: relative;
  height: 150px;  //Dinushi
  width: 150px;   //Dinushi
  border: 2px dashed #b3b3b3;
  border-radius: 75px;
  background-color: #f3f3f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.drop-zone{
  padding-bottom: 5px;
}

.dropzone .msg{
  font-size: 16px;
  font-weight: bold;
  color: #c3c3c3;
  padding: 0 10px;
}

input.fileUpload{
  display: none;
}

table {
  padding-top: 30px;
  width: 75%;
}

.mat-raised-button{
  font-size: 12px;
  line-height: 25px;
}

.mat-card-avatar{

height: 150px;
width: 150px;

}

.upload_de_bu{
  position: absolute;
  top: 0;
  right: 0;
}
