<!--
  <RadListView
    [items]="dataItems"
    loadOnDemandMode="Auto"
    (loadMoreDataRequested)="onLoadMoreItemsRequested($event)"
  >
    <StackLayout class="itemTemplateStackLayout" orientation="vertical">
      <StackLayout class="innerOtemTemplateStackLayout" orientation="vertical">
        <ng-template tkListItemTemplate let-item="item">
          &lt;!&ndash; <NSImg height="100" width="100" [src]="item.name"></NSImg> &ndash;&gt;

          <StackLayout class="labelsStackLayout" orientation="vertical">
            <Label class="labelName" [text]="item.name"></Label>
            <Label
              class="labelTitle"
              [text]="item.name"
              textWrap="true"
            ></Label>
            <Label
              class="labelText"
              text="{{ item.name }} + {{ item.name }} + {{ item.name }}"
              textWrap="true"
            ></Label>
          </StackLayout>
        </ng-template>
      </StackLayout>
    </StackLayout>
  </RadListView>-->


<RadListView [items]="infinite" loadOnDemandMode="Auto" (loadMoreDataRequested)="nextBatch($event)">
  <ng-template tkListItemTemplate let-item="item">
    <StackLayout orientation="vertical">
      <Label class="nameLabel" [text]="item.name"></Label>
      <Label class="descriptionLabel" [text]="item.description"></Label>
    </StackLayout>
  </ng-template>
</RadListView>
