 <form [formGroup]="courseForm">
  <mat-card >
    <mat-card-header>
      <img mat-card-avatar style="width: 52px;height: 52px"
           src="assets/images/course.png" alt="course">
      <mat-card-title [matTooltip]="question?.description" style="font-size: 15px;">{{ question?.label}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <span [matTooltip]="question?.questionType.label"><strong><mat-icon >merge_type</mat-icon>{{question?.questionType.name}}</strong></span>
      <span matTooltip="Scoring Mechanism"> <strong><mat-icon >swap_vert</mat-icon>{{question?.scoringMechanism.type}}</strong></span>
    </mat-card-content>
    <mat-card-actions class="padding_20">
      <mat-slide-toggle class="float-left" formControlName="isAdded" align="end">Added</mat-slide-toggle>
    </mat-card-actions>
  </mat-card>
</form>

