<s-infinite-scroll-grid *ngIf="rolePermission" [addItemEnabled]="rolePermission.edit" [collectionName]="collection" [orderBy]="orderBy"
  [searchBy]="searchBy" (onAddItem)="addNewQuestionnaire()">
  <ng-template let-item="item" let-i="i">
    <mat-card class="">
      <mat-card-header>
        <img mat-card-avatar style="width: 52px;height: 52px" src="assets/images/questionnaire.jpg" [alt]="item.name">
        <mat-card-title>{{ item?.name}}</mat-card-title>
        <mat-card-subtitle>{{getLength(item.questions)}} questions</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content></mat-card-content>
      <mat-card-actions class="btn" align="start">
        <button mat-icon-button (click)="editQuestionnaire(item)" *ngIf="rolePermission.edit">
          <mat-icon matTooltip="Edit questionnaire">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="viewQuestionnaire(item)">
          <mat-icon matTooltip="view questionnaire">visibility</mat-icon>
        </button>
      </mat-card-actions>

    </mat-card>
  </ng-template>
</s-infinite-scroll-grid>