<web-menu class="support"></web-menu>
<section class="resources-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="my-4 pb-3 pt-4">Support Us</h1>
      </div>
    </div>
  </div>
</section>

<section class="support-us">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5>CONTRIBUTE</h5>
        <p class="lead">Sati Pasala Foundation is not-for-profit organization supported by charitable donations. All
          your
          contributions
          will go a long way towards making the Vision of Sati Pasala Foundation, a reality.</p>

        <p>You may kindly contribute to:</p>
        <p>Bank: Sampath Bank<br />
          Branch: Maharagama<br />
          Account Name: Sati Pasala Foundation<br />
          Account Number: 001310014229<br />
          Swift Code: BSAMLKLX</p>

        <p>We would appreciate if you could email us the details of your donation to (treasurer@satipasala.org) after
          making the donation.</p>

        <h5>VOLUNTEERS</h5>
        <p>f you would like to help Sati Pasala Foundation to share mindfulness with students, teachers and other
          multiple
          sectors and if you have experience in practicing mindfulness we would like to hear from you
          (coordinator@satipasala.org).</p>
      </div>
    </div>
  </div>

</section>
<section class="border-top mt-5">
  <div class="container">
    <div class="row mt-3">
      <div class="col copyright">
        <p class=""><small class="text-black-50">© 2019. Satipasala Foundation. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</section>