@import "../../../styles.scss";

.support{
    background: $secondary-color;
    display: block;
    height: 168px;
}

.support-us p{
    line-height: 1.8rem;
    color: gray;
}


.support-us .lead{
    line-height: 2.3rem;
}

.support-us h5{
    font-weight: 700;
}