::-webkit-scrollbar {
  width: 1px;
  height: 1px; }

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px; }

body {
  background: #111; }

div {
  box-sizing: border-box; }

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: -440px;
  width: 100vh;
  height: 100vw;
  margin: 0;
  padding-top: 1px;
  background: #abc;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(80px);
  transform-origin: right top; }
  .horizontal-scroll-wrapper > div {
    display: block;
    padding: 5px;
    background: red;
    transform: rotate(90deg);
    transform-origin: right top;
    position: relative;
    top: 968px; }
    .horizontal-scroll-wrapper > div > div {
      display: block;
      padding: 5px;
      background: #cab;
      width: 100vw;
      height: 100vh; }

.squares > div {
  width: 100vh;
  height: 100vw; }

/*# sourceMappingURL=scrooltest.css.map */
