<mat-card class="" [class.disable-block]="activity.active === 'No'" *ngIf="rolePermission">
  <mat-card-header>
    <img mat-card-avatar style="width: 52px;height: 52px" src="assets/images/activity.png" alt="activity?.name">
    <mat-card-title>{{ activity?.name}}</mat-card-title>
    <mat-card-subtitle>{{activity?.type.name}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>{{activity?.description}}</p>
  </mat-card-content>
  <mat-card-actions>

    <button *ngIf="rolePermission.edit " mat-icon-button (click)=" edit(activity)">
      <mat-icon matTooltip="Edit Activity">edit</mat-icon>
    </button>

    <button *ngIf="activity.active === 'No'; else enableActivityBlock" mat-icon-button (click)="openDialog(activity, 'Yes')">
      <mat-icon matTooltip="Enable Activity">location_searching</mat-icon>
    </button>

    <ng-template #enableActivityBlock>
      <button *ngIf="rolePermission.edit" mat-icon-button (click)="openDialog(activity, 'No')">
        <mat-icon matTooltip="Disable Activity">location_disabled</mat-icon>
      </button>
    </ng-template>

    <button mat-icon-button (click)="view(activity)">
      <mat-icon matTooltip="View Activity">visibility</mat-icon>
    </button>

  </mat-card-actions>
</mat-card>
