//.full-width {
//  width: 100%;
//}
//
//.shipping-card {
//  min-width: 120px;
//  margin: 20px auto;
//}
//
//.mat-radio-button {
//  display: block;
//  margin: 5px 0;
//}
//
//.row {
//  display: flex;
//  flex-direction: row;
//}
//
//.col {
//  flex: 1;
//  margin-right: 20px;
//}
//
//.col:last-child {
//  margin-right: 0;
//}
//
//.right-align {
//  float: right;
//}
//
//.translation-radio-group {
//  display: flex;
//  flex-direction: row;
//  margin: 0 20px 0 0;
//}
//
//.translation-radio-button {
//  margin: 10px 20px 0 0;
//}
//
