:host {
  .location_add {
    .mat-card {
      padding: 20px 0 0;
    }
  }
  .mat-card {
    margin-top: 15px;
  }
.scroll{
  height: 57vh;
  overflow-y: scroll;
  overflow-x:hidden;
}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ma-t-20{
  margin-top: 20px
}

.pading-bot{
  padding-bottom: 20px;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.hideOnView{
  display: none !important;
}

