<web-menu class="contact"></web-menu>
<section class="resources-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="my-4 pb-3 pt-4">Contact Us</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>For any inquiries, please contact us.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-12 mb-sm-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Sati Pasala Foundation</h5>
            <p>No: 78/C, <br />De Mel Watte Road, <br />Koswatte, Nawala, Sri Lanka</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-sm-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Telephone</h5>
            <p class="m-0">Coordinator:</p>
            <h4>077 786 0684</h4>
            <p class="m-0">Secretary: </p>
            <h4>077 333 6237 (Mr. Nandasiri)</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-sm-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Email</h5>
            <p class="card-text">coordinator@satipasala.org</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="border-top mt-5">
  <div class="container">
    <div class="row mt-3">
      <div class="col copyright">
        <p class=""><small class="text-black-50">© 2019. Satipasala Foundation. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</section>