<mat-card class="">
  <mat-card-header>
    <img mat-card-avatar style="width: 52px;height: 52px"
         src="assets/images/course.png" alt="course">
    <mat-card-title>{{ role?.name}}</mat-card-title>
    <mat-card-subtitle>{{role?.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><b>Role Type :</b> {{role?.name}}</p>
    <p><b>Active Status :</b> {{role?.isActive}}</p>

    <p *ngIf="coursesDataSource?.dataArray.length>0"><b>Courses</b>
      <s-infinite-scroll-grid [addItemEnabled]="false" [dataSource]="coursesDataSource"
                              [orderBy]="[{fieldPath: 'name', directionStr: 'asc'}]">
        <ng-template let-course="item" let-i="i">
          <auth-course-card [course]="course"></auth-course-card>
        </ng-template>
      </s-infinite-scroll-grid>
    </p>
  </mat-card-content>
</mat-card>
