<web-menu class="registration"></web-menu>
<section class="resources-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="my-4 pb-3 pt-4">Registration</h1>
            </div>
        </div>
    </div>
</section>