<mat-card *ngIf="user" [ngClass]="user.disabled?'disable-block':''">
  <mat-card-header>
    <img *ngIf="imageUrl | async as ptUrl" mat-card-avatar style="width: 52px;height: 52px" [src]="ptUrl" alt="No Image"
      alt="Avatar">
    <mat-card-title>{{user.displayName }}  <mat-chip  >{{user?.userRole?.name}}</mat-chip></mat-card-title>
    <mat-card-subtitle>{{user?.email}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{organization}}</p>
  </mat-card-content>
</mat-card>
