<mat-card class="">
  <mat-card-header>
    <img mat-card-avatar style="width: 52px;height: 52px" src="assets/images/host.jpeg" alt="Photo of a Shiba Inu">
    <mat-card-title>{{ location.name}}</mat-card-title>
    <mat-card-subtitle>{{location.description}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
