//leftmenu
.sathi-sidenav {
  .mat-list {
    padding-top: 0 !important;
  }

  .mat-sidenav {
    background-image: linear-gradient(-20deg, var(--menuBG) 0%, var(--menuBG2) 100%);

    .left-menu {
      .mat-list-item {
        padding: $paading_top_bottom 0;
        position: relative;
        &:hover {
          &:before {
            content: "";
            background: var(--selected-color);
            width: 4px;
            height: 94%;
            position: absolute;
            right: 1px;
            top: 1px;
          }
          button {
            color: var(--white);
            .mat-icon {
              color: var(--white);
            }
          }
        }

        button {
          color: var(--light-font-color);
          .mat-icon {
            color: var(--light-font-color);
            font-size: 1.6em;
            padding-right: var(--top_right);
          }
        }
      }
      .buttonselected {
        position: relative;
        background: rgba(0, 0, 0, 0.08);
        &:before {
          content: "";
          background: var(--selected-color);
          width: 4px;
          height: 94%;
          position: absolute;
          right: 1px;
          top: 1px;
        }
        button{
          color: var(--selected-color);
          cursor: auto;
          .mat-icon {
            color: var(--white);
          }
        }
        &:hover{
          cursor: auto;
          button {
            color: var(--selected-color);
            .mat-icon {
              color: var(--white);
            }
          }
        }
      }

    }
  }
}

.selected_nav {
  color: var(--selected-color);

  span {
    font-size: var(--fontSize);
  }
}


.left-menu {
  .mat-list-item-content {
    padding: 0
  }
}

.nav {
  width: 100%;
  text-align: left;
  padding: 6px 0;

  img {
    width: 32px;
    padding-right: 10px;
  }
}
