@import "../../../../base/src/lib/global-scss/global_class";
@import "../../../../base/src/lib/global-scss/mixins";


.slider {
  height: 60px;
  border-right: 1px solid #fff;
  background-color: rgba(#000, 0.2);
  text-align: center;
}
