<!-- <div [formGroup]="form">
  <select class="form-control" placeholder="Select" [id]="field.name" [formControlName]="field.name">
    <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.label}}</option>
  </select>
</div> -->

<!-- <div [formGroup]="form">
  <mat-select class="form-control" placeholder="Select" [formControlName]="field.id">
    <mat-option *ngFor="let opt of field.options" [value]="opt.value">{{opt.label}}</mat-option>
  </mat-select>
</div> -->

<mat-form-field [formGroup]="form">
  <mat-select class="form-control" placeholder="Select" [formControlName]="field.id">
    <mat-option *ngFor="let opt of field.options" [value]="opt.value">{{opt.label}}</mat-option>
  </mat-select>
</mat-form-field>