//.full-width {
//  width: 100%;
//}
//
//.register-card {
//  min-width: 120px;
//  margin: 20px auto;
//}
//
//.mat-radio-button {
//  display: block;
//  margin: 5px 0;
//}
//
//.row {
//  display: flex;
//  flex-direction: row;
//}
//
//.col {
//  flex: 1;
//  margin-right: 20px;
//}
//
//.col:last-child {
//  margin-right: 0;
//}
//
//.field-margin{
//  margin: 10px;
//}
