<h2 class="h2_margin_ra">Courses</h2>
<mat-card>
  <div class="bacground-image" style="background-image: url('assets/images/mindfulness.jpg')"></div>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let course of program?.courses | keyvalue">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{course.value.name}}</h4>
        <p mat-line> {{course.value.description}} </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>


