<mat-card *ngIf="permission">
  <mat-card-header>
    <img mat-card-avatar style="width: 52px;height: 52px"
         src="assets/images/user-role.png" alt="user-role">
    <mat-card-title>{{role?.name}}</mat-card-title>
    <!--<mat-card-subtitle>{{role.description}}</mat-card-subtitle>--> <!-- Description is not available in role -->
  </mat-card-header>

  <mat-card-content>
    <mat-chip>{{role?.roleLevel?.name}}</mat-chip>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="permission.edit" mat-icon-button (click)="editPermissions(role)"><mat-icon matTooltip="Edit Role">edit</mat-icon></button>
    <button mat-icon-button (click)="viewRole(role)"><mat-icon matTooltip="View Role">visibility</mat-icon></button>
    <button *ngIf="permission.edit" mat-icon-button (click)="editCourses(role)"><mat-icon matTooltip="Assign Courses">book</mat-icon></button>
  </mat-card-actions>

</mat-card>
