<Page (loaded)="pageLoaded($event)" class="page meditation-story" id="login-page"
    xmlns="http://www.nativescript.org/tns.xsd" actionBarHidden="true">
    <AbsoluteLayout width="100%" height="100%">
        <!-- background image -->
        <Image src="~/assets/login-bg.png" width="100%" height="100%"
            stretch="aspectFill" ></Image>
        <GridLayout columns="*" rows="*, auto, auto" width="100%"
            height="100%">
            <StackLayout orientation="vertical" width="100%"
                class="login-form padding-lr" row="2">
                <Label textWrap="true" text="Sign in to continue"
                    class="h2" ></Label>
                <AbsoluteLayout width="100%"
                    class="form-input-wrapper input-wrapper">
                    <TextField width="100%" [(ngModel)]="email"
                        hint="Enter email" class="form-input" ></TextField>
                    <Label text="&#xe90c;" class="ico" ></Label>
                </AbsoluteLayout>

                <AbsoluteLayout width="100%" class="input-wrapper">
                    <TextField [(ngModel)]="password" hint="Enter password"
                        class="form-input" secure="true" width="100%" ></TextField>
                    <Label text="&#xe90d;" class="ico" ></Label>

                </AbsoluteLayout>
                <FlexboxLayout flexDirection="row" width="100%"
                    justifyContent="space-between" alignItems="center"
                    class="pass-wrapper">
                    <Label textWrap="true" text="Forgot password"
                        class="text-green bold forgot-pass" ></Label>
                    <Label text="&#xe90b;" class="ico g"
                        (tap)="loginpress()"></Label>
                </FlexboxLayout>
            </StackLayout>

            <AbsoluteLayout row="1" width="100%" id="login-fig">
                <Image width="100%" src="~/assets/login-figure.png"
                    stretch="aspectFit" ></Image>
            </AbsoluteLayout>
            <AbsoluteLayout width="100%" row="0" id="login-bg"
                backgroundColor="#130D6D">
                <!-- stars -->
                <Label text="" class="star one" ></Label>
                <Label text="" class="star two" ></Label>
                <Label text="" class="star three" ></Label>
                <Label text="" class="star four" ></Label>
                <Label text="" class="star five" ></Label>

                <Image src="~/assets/moon.png" width="40" left="25" top="15"
                    stretch="aspectFit" dock="top" ></Image>

                <!-- clouds -->
                <Image class="animate-cloud" src="~/assets/clouds-3.png"
                    width="100%" top="-10" ></Image>
            </AbsoluteLayout>

        </GridLayout>

    </AbsoluteLayout>
</Page>
