<mat-card *ngIf="refDataObj" [ngClass]="refDataObj.active === 'No' ?'disable-block':''">
  <mat-card-header>
    <img mat-card-avatar style="width: 52px;height: 52px" [src]="image" [alt]="refDataObj.name">
    <mat-card-title> {{title}}</mat-card-title>
    <mat-card-subtitle> {{subTitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list aria-label="Attributes">
      <mat-chip color="accent" selected>{{refDataObj.active === 'Yes' ? 'Active' : 'Deactivated'}}</mat-chip>
      <ng-container *ngTemplateOutlet="templateVariable;context: {refDataObj: refDataObj}"></ng-container>
    </mat-chip-list>
  </mat-card-content>

  <mat-card-actions>
    <admin-ref-data-context-menu [refDataObj]="refDataObj"
                                 (contextMenuClickEmitter)="contextMenuCommand($event)"></admin-ref-data-context-menu>
  </mat-card-actions>

</mat-card>
